src/main/mule/email_implimentation/get_inactive_account_email_implimentation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="get_inactive_active_account_email_implimentation_flow" doc:id="d15ac169-d1d8-4af1-bba6-bc57ad6e8c87" >
		<logger level="INFO" doc:name="request reieved to email implementation flow" doc:id="a36e9c29-0976-429f-8c11-704785e19eef" message="==========request reieved to email implementation flow==========" />
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;body {&#10;    margin: 0;&#10;    padding: 0;&#10;    background: #edf2f7;&#10;    font-family: 'Segoe UI', Arial, sans-serif;&#10;}&#10;&#10;.wrapper {&#10;    width: 100%;&#10;    padding: 30px 0;&#10;}&#10;&#10;.container {&#10;    max-width: 760px;&#10;    margin: auto;&#10;    background: white;&#10;    border-radius: 18px;&#10;    overflow: hidden;&#10;    box-shadow: 0 10px 40px rgba(0, 0, 0, .12);&#10;}&#10;&#10;.header {&#10;    background: linear-gradient(135deg, #003366, #0056b3, #007bff);&#10;    padding: 35px;&#10;    color: white;&#10;}&#10;&#10;.bank {&#10;    font-size: 34px;&#10;    font-weight: bold;&#10;}&#10;&#10;.tag {&#10;    margin-top: 5px;&#10;    font-size: 15px;&#10;    opacity: .9;&#10;}&#10;&#10;.hero {&#10;    padding: 35px;&#10;    background: #f8fbff;&#10;}&#10;&#10;.hero h2 {&#10;    margin: 0;&#10;    color: #003366;&#10;}&#10;&#10;.hero p {&#10;    line-height: 28px;&#10;    color: #666;&#10;}&#10;&#10;.card {&#10;    margin: 30px;&#10;    border-radius: 15px;&#10;    overflow: hidden;&#10;    border: 1px solid #dde5ee;&#10;}&#10;&#10;.card-title {&#10;    background: #003366;&#10;    padding: 18px;&#10;    color: white;&#10;    font-size: 18px;&#10;    font-weight: bold;&#10;}&#10;&#10;table {&#10;    width: 100%;&#10;    border-collapse: collapse;&#10;}&#10;&#10;td {&#10;    padding: 16px;&#10;    border-bottom: 1px solid #ececec;&#10;    font-size: 15px;&#10;}&#10;&#10;td:first-child {&#10;    font-weight: bold;&#10;    background: #fafafa;&#10;    width: 40%;&#10;}&#10;&#10;.balance {&#10;    font-size: 28px;&#10;    font-weight: bold;&#10;    color: #009933;&#10;}&#10;&#10;.status {&#10;    background: #d9f7e8;&#10;    color: #0b8a3b;&#10;    padding: 6px 14px;&#10;    border-radius: 30px;&#10;    display: inline-block;&#10;    font-weight: bold;&#10;}&#10;&#10;.info {&#10;    display: flex;&#10;    gap: 18px;&#10;    padding: 0 25px 25px;&#10;}&#10;&#10;.box {&#10;    flex: 1;&#10;    background: #f7fbff;&#10;    padding: 22px;&#10;    border-radius: 15px;&#10;    text-align: center;&#10;    border: 1px solid #d7e8ff;&#10;}&#10;&#10;.box h3 {&#10;    margin: 10px 0;&#10;    color: #003366;&#10;}&#10;&#10;.box p {&#10;    font-size: 13px;&#10;    color: #666;&#10;    line-height: 22px;&#10;}&#10;&#10;.security {&#10;    margin: 25px;&#10;    padding: 20px;&#10;    background: #fff8ea;&#10;    border-left: 5px solid orange;&#10;    border-radius: 10px;&#10;}&#10;&#10;.security h3 {&#10;    margin-top: 0;&#10;    color: #c67d00;&#10;}&#10;&#10;.footer {&#10;    background: #003366;&#10;    color: white;&#10;    text-align: center;&#10;    padding: 35px;&#10;    font-size: 13px;&#10;    line-height: 24px;&#10;}&#10;&#10;.footer a {&#10;    color: #fff;&#10;    text-decoration: none;&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='wrapper'&gt;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='bank'&gt;&#10;🏦 &quot; ++ (payload.BANKNAME[0] default &quot;N/A&quot;) ++ &quot;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tag'&gt;&#10;Secure • Trusted • Digital Banking&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='hero'&gt;&#10;&#10;&lt;h2&gt;&#10;Welcome,&#10;&lt;b&gt;&quot; ++ (upper(vars.inputpayload.FULLNAME[0]) default &quot;N/A&quot;) ++ &quot;&lt;/b&gt; 👋&#10;&lt;/h2&gt;&#10;&#10;&lt;p&gt;&#10;Congratulations!&#10;Please find your account details below.&#10;Thank you for choosing &lt;b&gt;Real Bank&lt;/b&gt; as your trusted financial partner.&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-title'&gt;&#10;💳 Account Details&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Account Holder&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (payload.FULLNAME[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Bank Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.bankname default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Account Number&lt;/td&gt;&#10;&lt;td&gt;&lt;b&gt;&quot; ++ (vars.inputpayload.ACCOUNTNUMBER[0] default &quot;N/A&quot;) ++ &quot;&lt;/b&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Date of Birth&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.DATEOFBIRTH[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Mobile Number&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.MOBILENUMBER[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Email Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.email default &quot;customer@email.com&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Aadhaar&lt;/td&gt;&#10;&lt;td&gt;XXXX XXXX &quot; ++ ((vars.inputpayload.ADHARNUMBER[0] as String default &quot;N/A&quot;)[-4 to -1]) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.ADDRESS[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Status&lt;/td&gt;&#10;&lt;td&gt;&lt;span class='status'&gt;&quot; ++ (vars.status default &quot;N/A&quot;) ++ &quot;&lt;/span&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Available Balance&lt;/td&gt;&#10;&lt;td class='balance'&gt;₹ &quot; ++ (vars.inputpayload.BALANCE[0] default &quot;0.00&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='security'&gt;&#10;&#10;&lt;h3&gt;&#10;🔒 Banking Security&#10;&lt;/h3&gt;&#10;&#10;&lt;ul&gt;&#10;&lt;li&gt;Never share your ATM PIN.&lt;/li&gt;&#10;&lt;li&gt;Never share OTP with anyone.&lt;/li&gt;&#10;&lt;li&gt;Real Bank never asks for passwords.&lt;/li&gt;&#10;&lt;li&gt;Enable SMS &amp; Email transaction alerts.&lt;/li&gt;&#10;&lt;li&gt;Report fraudulent transactions immediately.&lt;/li&gt;&#10;&lt;/ul&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='info'&gt;&#10;&#10;&lt;div class='box'&gt;&#10;📱&#10;&lt;h3&gt;Mobile Banking&lt;/h3&gt;&#10;&lt;p&gt;&#10;Transfer money instantly.&#10;Manage debit cards.&#10;Recharge &amp; bill payments.&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='box'&gt;&#10;🌐&#10;&lt;h3&gt;Internet Banking&lt;/h3&gt;&#10;&lt;p&gt;&#10;View statements.&#10;Download reports.&#10;Manage beneficiaries.&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='box'&gt;&#10;☎️&#10;&lt;h3&gt;24×7 Support&lt;/h3&gt;&#10;&lt;p&gt;&#10;Phone: +91 9494207062&#10;&lt;br&gt;&lt;br&gt;&#10;Email: narsingbeesetti22@gmail.com&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&lt;b&gt;Thank you for banking with Real Bank.&lt;/b&gt;&#10;&lt;br&gt;&lt;br&gt;&#10;© 2026 Real Bank&#10;&lt;br&gt;&#10;This is an automated email. Please do not reply.&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="43b36e6a-4abc-4b54-8ceb-bf8f0939302b" variableName="emailBody" />
		<parse-template doc:name="creating html templete with user data for user email conformation " doc:id="37b61007-e4fd-4d6a-a28c-e9c689184515" >
			<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
		<email:send doc:name="email send to the respective users with the respective bank data" doc:id="7bd914a1-98e4-49cf-87cd-d98e77024d1b" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Your Account detailes - " ++ vars.bankname as String]' >
			<email:to-addresses >
				<email:to-address value="#[vars.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8" />
		</email:send>
		<logger level="INFO" doc:name="after email send to the repective user with thier account detailes" doc:id="3f3a5aaa-8313-473d-9f98-a9178f7ac870" message="=========after email send to the repective user with thier account detailes===========" />
	</flow>
</mule>
