src/main/mule/email_implimentation/get_transaction_email_implimentation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="get_transaction_email_implimentation_flow" doc:id="5d3dce2e-cd32-41df-8966-393612b9ec62" >
		<logger level="INFO" doc:name="request reieved to email implementation flow" doc:id="d2851c00-b178-4acb-8e27-fd98f7635395" message="==========request reieved to email implementation flow==========" />
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;var customer = payload.payload[0]&#10;&#10;var transactionString =&#10;    (customer.TRANSACTIONS default &quot;[]&quot;) as String&#10;&#10;var transactions =&#10;    if (isEmpty(transactionString))&#10;        []&#10;    else&#10;        read(transactionString, &quot;application/json&quot;)&#10;&#10;var accountNumber =&#10;    (customer.ACCOUNTNUMBER default &quot;XXXXXXXXXX&quot;) as String&#10;&#10;var accountHolder =&#10;    (customer.FULLNAME default &quot;N/A&quot;) as String&#10;&#10;var balance =&#10;    (customer.BALANCE default 0) as Number&#10;&#10;var status =&#10;    (customer.STATUS default &quot;N/A&quot;) as String&#10;    &#10;var bankName =&#10;    (customer.BANKNAME default &quot;N/A&quot;) as String&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;&#10;body{&#10;font-family:'Segoe UI',Arial,sans-serif;&#10;background:linear-gradient(135deg,#667eea,#764ba2);&#10;padding:40px 20px;&#10;}&#10;&#10;.container{&#10;max-width:1100px;&#10;margin:auto;&#10;background:white;&#10;border-radius:20px;&#10;overflow:hidden;&#10;box-shadow:0 25px 50px rgba(0,0,0,.2);&#10;}&#10;&#10;.header{&#10;background:linear-gradient(135deg,#1a237e,#283593);&#10;color:white;&#10;padding:40px;&#10;text-align:center;&#10;}&#10;&#10;.bank-logo{&#10;font-size:40px;&#10;}&#10;&#10;.header h1{&#10;font-size:32px;&#10;}&#10;&#10;.account-info{&#10;padding:30px;&#10;}&#10;&#10;.info-card{&#10;display:grid;&#10;grid-template-columns:repeat(4,1fr);&#10;gap:20px;&#10;background:#f8f9ff;&#10;padding:25px;&#10;border-radius:15px;&#10;}&#10;&#10;.label{&#10;font-size:12px;&#10;color:#666;&#10;}&#10;&#10;.value{&#10;font-size:16px;&#10;font-weight:bold;&#10;color:#1a237e;&#10;}&#10;&#10;&#10;.summary{&#10;padding:0 30px 30px;&#10;display:grid;&#10;grid-template-columns:repeat(3,1fr);&#10;gap:20px;&#10;}&#10;&#10;&#10;.card{&#10;padding:20px;&#10;border:2px solid #eee;&#10;border-radius:15px;&#10;}&#10;&#10;&#10;.card-icon{&#10;font-size:30px;&#10;}&#10;&#10;.card-label{&#10;color:#666;&#10;font-size:13px;&#10;}&#10;&#10;.card-value{&#10;font-size:22px;&#10;font-weight:bold;&#10;color:#1a237e;&#10;}&#10;&#10;.balance{&#10;color:#4caf50;&#10;}&#10;&#10;&#10;.table-section{&#10;padding:0 30px 40px;&#10;}&#10;&#10;&#10;table{&#10;width:100%;&#10;border-collapse:separate;&#10;border-spacing:0 8px;&#10;}&#10;&#10;&#10;th{&#10;background:#667eea;&#10;color:white;&#10;padding:15px;&#10;}&#10;&#10;&#10;td{&#10;padding:15px;&#10;text-align:center;&#10;background:#fff;&#10;border-bottom:1px solid #eee;&#10;}&#10;&#10;&#10;.badge{&#10;padding:5px 12px;&#10;border-radius:20px;&#10;font-size:12px;&#10;font-weight:bold;&#10;}&#10;&#10;&#10;.credit{&#10;background:#e8f5e9;&#10;color:#2e7d32;&#10;}&#10;&#10;&#10;.debit{&#10;background:#ffebee;&#10;color:#c62828;&#10;}&#10;&#10;&#10;.amount-credit{&#10;color:#2e7d32;&#10;font-weight:bold;&#10;}&#10;&#10;&#10;.amount-debit{&#10;color:#c62828;&#10;font-weight:bold;&#10;}&#10;&#10;&#10;.footer{&#10;background:#f8f9ff;&#10;padding:25px;&#10;text-align:center;&#10;}&#10;&#10;&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&#10;&lt;body&gt;&#10;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='bank-logo'&gt;🏦 REAL BANK&lt;/div&gt;&#10;&#10;&lt;h1&gt;Transaction Statement&lt;/h1&gt;&#10;&#10;&lt;p&gt;Your financial overview at a glance&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div class='account-info'&gt;&#10;&#10;&lt;div class='info-card'&gt;&#10;&#10;&#10;&lt;div&gt;&#10;&lt;span class='label'&gt;Account Number&lt;/span&gt;&#10;&lt;br&gt;&#10;&lt;span class='value'&gt;&quot; ++ accountNumber ++ &quot;&lt;/span&gt;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div&gt;&#10;&lt;span class='label'&gt;Account Holder&lt;/span&gt;&#10;&lt;br&gt;&#10;&lt;span class='value'&gt;&quot; ++ accountHolder ++ &quot;&lt;/span&gt;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div&gt;&#10;&lt;span class='label'&gt;Generated On&lt;/span&gt;&#10;&lt;br&gt;&#10;&lt;span class='value'&gt;&quot; ++ (now() as String) ++ &quot;&lt;/span&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div&gt;&#10;    &lt;span class='label'&gt;Status&lt;/span&gt;&#10;    &lt;br/&gt;&#10;    &lt;span class='value' style='color:&quot; ++&#10;        (if (upper(status) == &quot;ACTIVE&quot;) &quot;green&quot; else &quot;red&quot;)&#10;        ++ &quot;;'&gt;&#10;        ● &quot; ++ status ++ &quot;&#10;    &lt;/span&gt;&#10;&lt;/div&gt;&#10;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&#10;&lt;div class='summary'&gt;&#10;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-icon'&gt;💰&lt;/div&gt;&#10;&#10;&lt;span class='card-label'&gt;&#10;Available Balance&#10;&lt;/span&gt;&#10;&#10;&lt;br&gt;&#10;&#10;&lt;span class='card-value balance'&gt;&#10;₹ &quot; ++ (balance as String) ++ &quot;&#10;&lt;/span&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-icon'&gt;📊&lt;/div&gt;&#10;&#10;&lt;span class='card-label'&gt;&#10;Total Transactions&#10;&lt;/span&gt;&#10;&#10;&lt;br&gt;&#10;&#10;&lt;span class='card-value'&gt;&#10;&quot; ++ (sizeOf(transactions) as String) ++ &quot;&#10;&lt;/span&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-icon'&gt;🏛️&lt;/div&gt;&#10;&#10;&lt;span class='card-label'&gt;&#10;Bank&#10;&lt;/span&gt;&#10;&#10;&lt;br&gt;&#10;&#10;&lt;span class='card-value'&gt;&#10;REAL BANK&#10;&lt;/span&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&#10;&lt;div class='table-section'&gt;&#10;&#10;&#10;&lt;table&gt;&#10;&#10;&#10;&lt;tr&gt;&#10;&#10;&lt;th&gt;S.No&lt;/th&gt;&#10;&#10;&lt;th&gt;Transaction Type&lt;/th&gt;&#10;&#10;&lt;th&gt;Amount&lt;/th&gt;&#10;&#10;&lt;th&gt;Balance&lt;/th&gt;&#10;&#10;&lt;th&gt;Date &amp; Time&lt;/th&gt;&#10;&#10;&lt;/tr&gt;&#10;&#10;&#10;&quot; ++&#10;&#10;(&#10;transactions map ((item,index)-&gt;&#10;&#10;&#10;&quot;&lt;tr&gt;&#10;&#10;&lt;td&gt;&quot; ++ ((index+1) as String) ++ &quot;&lt;/td&gt;&#10;&#10;&#10;&lt;td&gt;&#10;&#10;&lt;span class='badge &quot; ++&#10;&#10;(if ((item.transactionType default &quot;&quot;) as String == &quot;DEPOSIT&quot;)&#10;&quot;credit&quot;&#10;else&#10;&quot;debit&quot;)&#10;&#10;++ &quot;'&gt;&#10;&#10;&quot; ++&#10;&#10;((item.transactionType default &quot;UNKNOWN&quot;) as String)&#10;&#10;++&#10;&#10;&quot;&lt;/span&gt;&#10;&#10;&lt;/td&gt;&#10;&#10;&#10;&#10;&lt;td class='&quot; ++&#10;&#10;(if ((item.transactionType default &quot;&quot;) as String == &quot;DEPOSIT&quot;)&#10;&quot;amount-credit&quot;&#10;else&#10;&quot;amount-debit&quot;)&#10;&#10;++&#10;&#10;&quot;'&gt;&#10;&#10;&#10;&quot; ++&#10;&#10;(if ((item.transactionType default &quot;&quot;) as String == &quot;DEPOSIT&quot;)&#10;&quot;+&quot;&#10;else&#10;&quot;-&quot;)&#10;&#10;++&#10;&#10;&quot;₹ &quot;&#10;&#10;++&#10;&#10;((item.amount default 0) as String)&#10;&#10;++&#10;&#10;&quot;&lt;/td&gt;&#10;&#10;&#10;&#10;&#10;&lt;td&gt;&#10;&#10;₹ &quot;&#10;&#10;++&#10;&#10;((item.balanceAfterTransaction default 0) as String)&#10;&#10;++&#10;&#10;&quot;&lt;/td&gt;&#10;&#10;&#10;&#10;&lt;td&gt;&#10;&#10;&quot;&#10;&#10;++&#10;&#10;((item.timestamp default &quot;&quot;) as String)&#10;&#10;++&#10;&#10;&quot;&#10;&#10;&lt;/td&gt;&#10;&#10;&#10;&lt;/tr&gt;&quot;&#10;&#10;)&#10;&#10;joinBy &quot;&quot;&#10;&#10;)&#10;&#10;++&#10;&#10;&quot;&#10;&#10;&#10;&lt;/table&gt;&#10;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&#10;&lt;div class='footer'&gt;&#10;&#10;&lt;b&gt;Real Bank&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;&#10;&#10;📞 Customer Care : +91 9494207062&lt;br/&gt;&#10;&#10;✉ support@realbank.com&lt;br/&gt;&#10;&#10;🌐 www.realbank.com&lt;br/&gt;&lt;br/&gt;&#10;&#10;© 2026 Real Bank. All Rights Reserved.&lt;br/&gt;&lt;br/&gt;&#10;&#10;This is an automated transaction alert. Please do not reply to this email.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&lt;/html&gt;&quot;]" doc:name="emailbody" doc:id="0d5a77ef-5216-4d89-9eb0-96ea52f9dd59" variableName="emailbody" />
		<parse-template doc:name="creating html templete with user data for user email conformation " doc:id="08bd30d9-d4be-43a4-85d6-b57fde059ddc" >
			<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailbody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
		<email:send doc:name="email send to the respective users with the respective bank data" doc:id="25add6c5-5f98-4775-8051-a29ea50a62cc" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Please find your Transactions in this month -" ++ vars.bankName]' >
			<email:to-addresses >
				<email:to-address value="#[vars.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8" />
		</email:send>
		<logger level="INFO" doc:name="after email send to the repective user with thier account detailes" doc:id="f999d389-b61e-4054-b284-82b751216945" message="=========after email send to the repective user with thier account detailes===========" />
	</flow>
</mule>
