src/main/mule/email_implimentation/post_account_success_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="post_account_success_implementationFlow" doc:id="0fc918a4-1e22-4d9a-b394-40e9826ae236" >
		<logger level="INFO" doc:name="request reieved to email implementation flow" doc:id="ea0eae63-0d14-4aaf-bcc9-014e735695de" message="=====request reieved to email implementation flow======="/>
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&lt;title&gt;Welcome to Real Bank&lt;/title&gt;&#10;&#10;&lt;style&gt;&#10;* {&#10;    margin: 0;&#10;    padding: 0;&#10;    box-sizing: border-box;&#10;}&#10;&#10;body {&#10;    background: #eef3f8;&#10;    font-family: 'Segoe UI', Arial, sans-serif;&#10;    padding: 30px 0;&#10;    color: #333;&#10;}&#10;&#10;.wrapper {&#10;    max-width: 760px;&#10;    margin: auto;&#10;    background: #ffffff;&#10;    border-radius: 20px;&#10;    overflow: hidden;&#10;    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);&#10;}&#10;&#10;/* Header */&#10;.header {&#10;    background: linear-gradient(135deg, #002B5B, #0056B3, #0D6EFD);&#10;    padding: 45px;&#10;    color: #fff;&#10;    text-align: center;&#10;}&#10;&#10;.logo {&#10;    font-size: 38px;&#10;    font-weight: bold;&#10;    letter-spacing: 1px;&#10;}&#10;&#10;.tagline {&#10;    margin-top: 8px;&#10;    font-size: 15px;&#10;    opacity: .9;&#10;}&#10;&#10;/* Hero */&#10;.hero {&#10;    padding: 35px;&#10;    background: #f8fbff;&#10;    text-align: center;&#10;}&#10;&#10;.hero h2 {&#10;    color: #003366;&#10;    margin-bottom: 12px;&#10;    font-size: 30px;&#10;}&#10;&#10;.hero p {&#10;    color: #666;&#10;    line-height: 28px;&#10;    font-size: 15px;&#10;}&#10;&#10;.success {&#10;    margin: 25px auto;&#10;    width: 90%;&#10;    background: #E9F8EE;&#10;    border-left: 6px solid #16A34A;&#10;    padding: 18px;&#10;    border-radius: 10px;&#10;    font-size: 16px;&#10;    color: #0E7C3A;&#10;    font-weight: bold;&#10;}&#10;&#10;/* Account Card */&#10;.card {&#10;    margin: 30px;&#10;    border-radius: 16px;&#10;    overflow: hidden;&#10;    border: 1px solid #dfe6ee;&#10;}&#10;&#10;.card-title {&#10;    background: #003366;&#10;    color: white;&#10;    padding: 18px;&#10;    font-size: 20px;&#10;    font-weight: bold;&#10;}&#10;&#10;table {&#10;    width: 100%;&#10;    border-collapse: collapse;&#10;}&#10;&#10;td {&#10;    padding: 18px;&#10;    border-bottom: 1px solid #ececec;&#10;}&#10;&#10;td:first-child {&#10;    background: #fafafa;&#10;    font-weight: bold;&#10;    width: 38%;&#10;    color: #555;&#10;}&#10;&#10;.accno {&#10;    font-size: 24px;&#10;    font-weight: bold;&#10;    color: #0056B3;&#10;}&#10;&#10;.balance {&#10;    font-size: 26px;&#10;    font-weight: bold;&#10;    color: #16A34A;&#10;}&#10;&#10;.active {&#10;    background: #DDF8E7;&#10;    color: #118A43;&#10;    padding: 6px 18px;&#10;    border-radius: 25px;&#10;    font-weight: bold;&#10;}&#10;&#10;/* Feature Cards */&#10;.features {&#10;    display: flex;&#10;    gap: 18px;&#10;    padding: 0 30px 30px;&#10;}&#10;&#10;.feature {&#10;    flex: 1;&#10;    background: #f7fbff;&#10;    border: 1px solid #dbeafe;&#10;    padding: 22px;&#10;    border-radius: 15px;&#10;    text-align: center;&#10;}&#10;&#10;.feature .icon {&#10;    font-size: 40px;&#10;}&#10;&#10;.feature h3 {&#10;    margin: 15px 0;&#10;    color: #003366;&#10;}&#10;&#10;.feature p {&#10;    font-size: 13px;&#10;    line-height: 22px;&#10;    color: #666;&#10;}&#10;&#10;/* Security */&#10;.security {&#10;    margin: 0 30px 30px;&#10;    background: #FFF8EA;&#10;    padding: 22px;&#10;    border-left: 6px solid orange;&#10;    border-radius: 10px;&#10;}&#10;&#10;.security h3 {&#10;    margin-bottom: 12px;&#10;    color: #C97B00;&#10;}&#10;&#10;.security li {&#10;    margin: 10px 0;&#10;}&#10;&#10;/* Footer */&#10;.footer {&#10;    background: #002B5B;&#10;    padding: 35px;&#10;    text-align: center;&#10;    color: white;&#10;}&#10;&#10;.footer h3 {&#10;    margin-bottom: 10px;&#10;}&#10;&#10;.footer p {&#10;    line-height: 24px;&#10;    font-size: 13px;&#10;    opacity: .95;&#10;}&#10;&#10;.support {&#10;    margin-top: 20px;&#10;    padding-top: 20px;&#10;    border-top: 1px solid rgba(255, 255, 255, .2);&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='wrapper'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='logo'&gt;&#10;&#10;🏦 &quot; ++ (vars.inputAttributes.bankName default &quot;REAL BANK&quot;) ++ &quot;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tagline'&gt;&#10;&#10;Safe • Secure • Trusted Banking&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='hero'&gt;&#10;&#10;&lt;h2&gt;&#10;&#10;Welcome,&#10;&quot; ++ upper(vars.inputPayload.FullName default &quot;CUSTOMER&quot;) ++ &quot; 👋&#10;&#10;&lt;/h2&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Thank you for choosing&#10;&lt;b&gt;&quot; ++ (vars.inputAttributes.bankName default &quot;Real Bank&quot;) ++ &quot;&lt;/b&gt;.&#10;&#10;Your account has been successfully created and is now ready for banking.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;div class='success'&gt;&#10;&#10;✅ Account Created Successfully&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-title'&gt;&#10;&#10;💳 Account Summary&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;👤 Customer Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputPayload.FullName default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;🏦 Bank Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputAttributes.bankName default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;🔖 IFSC Code&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.ifsc default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;🏢 Branch Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.branchName default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;💳 Account Number&lt;/td&gt;&#10;&lt;td class='accno'&gt;&quot; ++ (vars.accountNumber default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📱 Mobile Number&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputPayload.mobileNumber default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📧 Email Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputPayload.email default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;🪪 Aadhaar Number&lt;/td&gt;&#10;&lt;td&gt;XXXX XXXX &quot; ++ (((vars.inputAttributes.adharNumber default &quot;&quot;) as String)[-4 to -1]) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📍 Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputPayload.address default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;💰 Opening Balance&lt;/td&gt;&#10;&lt;td class='balance'&gt;₹0.00&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;✅ Account Status&lt;/td&gt;&#10;&lt;td&gt;&lt;span class='active'&gt;ACTIVE&lt;/span&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='features'&gt;&#10;&#10;&lt;div class='feature'&gt;&#10;&#10;&lt;div class='icon'&gt;📱&lt;/div&gt;&#10;&#10;&lt;h3&gt;Mobile Banking&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Transfer funds instantly.&#10;&#10;UPI Payments.&#10;&#10;Bill Payments.&#10;&#10;Recharge Services.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='feature'&gt;&#10;&#10;&lt;div class='icon'&gt;🌐&lt;/div&gt;&#10;&#10;&lt;h3&gt;Internet Banking&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Mini Statement.&#10;&#10;Download Statements.&#10;&#10;Manage Beneficiaries.&#10;&#10;Profile Updates.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='feature'&gt;&#10;&#10;&lt;div class='icon'&gt;💳&lt;/div&gt;&#10;&#10;&lt;h3&gt;Debit Card&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Card Controls.&#10;&#10;ATM Withdrawals.&#10;&#10;Contactless Payments.&#10;&#10;Transaction Limits.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='security'&gt;&#10;&#10;&lt;h3&gt;&#10;&#10;🔐 Important Security Guidelines&#10;&#10;&lt;/h3&gt;&#10;&#10;&lt;ul&gt;&#10;&#10;&lt;li&gt;Never share your OTP, ATM PIN or CVV.&lt;/li&gt;&#10;&#10;&lt;li&gt;Real Bank never asks for passwords or OTP over phone.&lt;/li&gt;&#10;&#10;&lt;li&gt;Always verify beneficiaries before fund transfer.&lt;/li&gt;&#10;&#10;&lt;li&gt;Enable SMS &amp; Email transaction alerts.&lt;/li&gt;&#10;&#10;&lt;li&gt;Report unauthorized activity immediately.&lt;/li&gt;&#10;&#10;&lt;/ul&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&#10;&lt;h3&gt;&#10;&#10;Thank You For Banking With Us ❤️&#10;&#10;&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Customer Care : +91 9494207062&#10;&#10;&lt;br&gt;&#10;&#10;Email : narsingbeesetti22@gmail.com&#10;&#10;&lt;br&gt;&lt;br&gt;&#10;&#10;© 2026 Real Bank&#10;&#10;&lt;br&gt;&#10;&#10;Safe Banking | Digital Banking | Secure Transactions&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;div class='support'&gt;&#10;&#10;This is an automated email. Please do not reply.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="3513ee0e-0a65-4225-93e6-b49bab44801a" variableName="emailBody" />
		<parse-template doc:name="creating html templete with user data for user email conformation " doc:id="5615c06f-6cec-4351-80b4-9a2144a162f7" >
			<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
		<email:send doc:name="email send to the respective users with the respective bank data" doc:id="0580c078-ee94-4479-81af-68318ffbd360" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Account created successfully in -" ++ vars.inputAttributes.bankName]' >
			<email:to-addresses >
				<email:to-address value="#[vars.inputPayload.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8" />
		</email:send>
		<logger level="INFO" doc:name="after email send to the repective user with thier account detailes" doc:id="573ae7ba-2137-47bf-b675-583f89215668" message="==============after email send to the repective user with thier account detailes============"/>
	</flow>
</mule>
