src/main/mule/real-bank-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:mqtt3="http://www.mulesoft.org/schema/mule/mqtt3" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/current/mule-twilio.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/mqtt3 http://www.mulesoft.org/schema/mule/mqtt3/current/mule-mqtt3.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="real-bank-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="real-bank-api-config" api="real-bank-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <snowflake:snowflake-config name="Snowflake_Config" doc:name="Snowflake Config" doc:id="0360e6b1-7773-4a57-b296-89ce7aa63aee" >
		<snowflake:snowflake-connection accountName="TICPWBD-IC44792" warehouse="COMPUTE_WH" database="MYDATABASE" schema="PUBLIC" user="MYDB" password="Mydb@123456789" role="ACCOUNTADMIN" />
	</snowflake:snowflake-config>
	
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="15dadd1e-5705-49db-a4fb-eb663e76cbf7" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5298cf40-7135-4df6-98f5-1a8dd3fc75d1" >
		<http:request-connection host="api.ultramsg.com" protocol="HTTPS"/>
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="2f195f25-d93f-49a1-92a8-9c76ad3673af" />
	<flow name="real-bank-api-main">
        <http:listener config-ref="real-bank-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="real-bank-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="real-bank-api-console">
        <http:listener config-ref="real-bank-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="real-bank-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            
        </error-handler>
    </flow>
    <flow name="delete:\accounts\(accountNumber):real-bank-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="797ee059-0dd2-4bc7-bd5a-0a4a42100e72" message="----------------------------------Start Flow------------------------------" />
		<set-variable value="#[attributes.uriParams.accountNumber as String]" doc:name="accountNumber" doc:id="c432b891-d6b4-42e6-b2fb-99e018db45d4" variableName="accountNumber" />
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;var inp = []&#10;---&#10;inp&lt;&lt;payload reduce ((item, accumulator) -&gt; item)]" doc:name="inputpayload" doc:id="590c897d-df89-4e5c-885b-69394b041baf" variableName="inputpayload" />
		<logger level="INFO" doc:name="Before DB" doc:id="05d381a9-47d5-4039-b32f-dd2538cd6643" message="-----------------Before DB------------" />
		<snowflake:select doc:name="verify account" doc:id="7c822635-157a-441c-ae6f-b3846767208e" config-ref="Snowflake_Config">
			<snowflake:sql><![CDATA[select * from bank_customer_data where accountNumber = :ACCOUNTNUMBER]]></snowflake:sql>
			<snowflake:input-parameters><![CDATA[#[{
	"ACCOUNTNUMBER": attributes.uriParams.accountNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<set-variable value="#[payload.FULLNAME]" doc:name="FULLNAME" doc:id="874681c3-f670-4b7e-a292-a416fbbc0a2e" variableName="FULLNAME" />
		<logger level="INFO" doc:name="After DB" doc:id="77e2f2ea-db0a-4277-b572-5cc4cf8b6df3" message="---------------After DB------------" />
		<choice doc:name="Choice" doc:id="640c838d-3b68-4a29-a5fc-64683c69c112" >
			<when expression="#[sizeOf(payload) == 0]" >
				<ee:transform doc:name="Account doesn't exit" doc:id="1003353e-7836-4b1f-9737-f5cbf715442e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "FAILED",
	"statusCode": 404,
	"message": "Account doesn't exist please try with correct account number",
	"accountNumber": vars.accountNumber
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="End Flow" doc:id="b8460f01-7120-47da-942c-a24022e45d56" message="-------------End Flow----#[payload]" />
			</when>
			<otherwise >
				<set-variable value="#[payload.EMAIL[0]]" doc:name="email" doc:id="f413e0bf-4bf9-414f-b379-72da20fb36e1" variableName="email" />
				<set-variable value="#[payload.BANKNAME[0]]" doc:name="bankname" doc:id="6ed0122a-2028-4698-be2b-4b8426a6b7d8" variableName="bankname" />
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;var data = if (payload is Array) payload[0] else payload&#10;&#10;fun getVal(v) =&#10;    if (v is Array) v[0]&#10;    else v default &quot;&quot;&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&#10;&lt;html&gt;&#10;&#10;&lt;head&gt;&#10;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;&#10;body{&#10;    margin:0;&#10;    padding:40px 0;&#10;    background:#f4f7fb;&#10;    font-family:Arial,Helvetica,sans-serif;&#10;}&#10;&#10;.container{&#10;    width:680px;&#10;    margin:auto;&#10;    background:#ffffff;&#10;    border-radius:15px;&#10;    overflow:hidden;&#10;    box-shadow:0 10px 35px rgba(0,0,0,.15);&#10;}&#10;&#10;.header{&#10;    background:linear-gradient(90deg,#8B0000,#d32f2f);&#10;    color:white;&#10;    text-align:center;&#10;    padding:35px;&#10;}&#10;&#10;.logo{&#10;    font-size:32px;&#10;    font-weight:bold;&#10;}&#10;&#10;.tagline{&#10;    margin-top:8px;&#10;    font-size:14px;&#10;    opacity:.9;&#10;}&#10;&#10;.banner{&#10;    text-align:center;&#10;    padding:35px;&#10;}&#10;&#10;.icon{&#10;    width:90px;&#10;    height:90px;&#10;    line-height:90px;&#10;    margin:auto;&#10;    border-radius:50%;&#10;    background:#dc2626;&#10;    color:white;&#10;    font-size:42px;&#10;}&#10;&#10;.banner h2{&#10;    color:#b91c1c;&#10;    margin-top:20px;&#10;}&#10;&#10;.banner p{&#10;    color:#555;&#10;}&#10;&#10;.card{&#10;    margin:30px;&#10;    border:1px solid #e5e7eb;&#10;    border-radius:10px;&#10;    overflow:hidden;&#10;}&#10;&#10;.card-title{&#10;    background:#f8fafc;&#10;    padding:18px;&#10;    font-size:20px;&#10;    font-weight:bold;&#10;    color:#8B0000;&#10;}&#10;&#10;table{&#10;    width:100%;&#10;    border-collapse:collapse;&#10;}&#10;&#10;td{&#10;    padding:16px;&#10;    border-bottom:1px solid #eeeeee;&#10;}&#10;&#10;.label{&#10;    font-weight:bold;&#10;    color:#555;&#10;}&#10;&#10;.value{&#10;    text-align:right;&#10;    color:#111827;&#10;}&#10;&#10;.status{&#10;    color:#dc2626;&#10;    font-weight:bold;&#10;    font-size:18px;&#10;}&#10;&#10;.notice{&#10;    margin:30px;&#10;    background:#fff4f4;&#10;    border-left:6px solid #dc2626;&#10;    padding:20px;&#10;    border-radius:6px;&#10;    color:#555;&#10;}&#10;&#10;.footer{&#10;    background:#f8fafc;&#10;    text-align:center;&#10;    padding:30px;&#10;    font-size:13px;&#10;    color:#666;&#10;}&#10;&#10;.footer b{&#10;    color:#003366;&#10;}&#10;&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='logo'&gt;&#10;🏦 &quot; ++ (payload.BANKNAME[0] default &quot;N/A&quot;) ++ &quot;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tagline'&gt;&#10;Secure • Trusted • Digital Banking&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='banner'&gt;&#10;&#10;&lt;div class='icon'&gt;&#10;🔒&#10;&lt;/div&gt;&#10;&#10;&lt;h2&gt;Account Successfully Deactivated&lt;/h2&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Dear &lt;b&gt;&quot;&#10;++&#10;upper(getVal(vars.FULLNAME))&#10;++&#10;&quot;&lt;/b&gt;,&#10;&#10;&lt;br/&gt;&lt;br/&gt;&#10;&#10;Your account has been successfully deactivated as requested.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-title'&gt;&#10;&#10;Account Information&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&#10;&lt;td class='label'&gt;Customer Name&lt;/td&gt;&#10;&#10;&lt;td class='value'&gt;&quot;&#10;++&#10;upper(getVal(vars.FULLNAME))&#10;++&#10;&quot;&lt;/td&gt;&#10;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&#10;&lt;td class='label'&gt;Bank Name&lt;/td&gt;&#10;&#10;&lt;td class='value'&gt;&quot;&#10;++&#10;getVal(data.BANKNAME)&#10;++&#10;&quot;&lt;/td&gt;&#10;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&#10;&lt;td class='label'&gt;Account Number&lt;/td&gt;&#10;&#10;&lt;td class='value'&gt;&quot;&#10;++&#10;getVal(data.ACCOUNTNUMBER)&#10;++&#10;&quot;&lt;/td&gt;&#10;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&#10;&lt;td class='label'&gt;Account Status&lt;/td&gt;&#10;&#10;&lt;td class='value status'&gt;&#10;DEACTIVATED&#10;&lt;/td&gt;&#10;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&#10;&lt;td class='label'&gt;Effective Date&lt;/td&gt;&#10;&#10;&lt;td class='value'&gt;&#10;&quot;&#10;++&#10;(now() as String {format:&quot;dd MMM yyyy hh:mm:ss a&quot;})&#10;++&#10;&quot;&#10;&lt;/td&gt;&#10;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='notice'&gt;&#10;&#10;&lt;b&gt;⚠ Security Notice&lt;/b&gt;&#10;&#10;&lt;br/&gt;&lt;br/&gt;&#10;&#10;If you did not request this account deactivation, please contact our&#10;24×7 Customer Support immediately to secure your account.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&#10;&lt;b&gt;Real Bank&lt;/b&gt;&#10;&#10;&lt;br/&gt;&lt;br/&gt;&#10;&#10;📞 Customer Care : +91 9494207062&#10;&#10;&lt;br/&gt;&#10;&#10;✉ support@realbank.com&#10;&#10;&lt;br/&gt;&#10;&#10;🌐 www.realbank.com&#10;&#10;&lt;br/&gt;&lt;br/&gt;&#10;&#10;© 2026 Real Bank. All Rights Reserved.&#10;&#10;&lt;br/&gt;&lt;br/&gt;&#10;&#10;This is a system-generated email. Please do not reply.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="5e3d1b31-99fa-480d-8c4e-eb4a7888755c" variableName="emailBody" />
				<parse-template doc:name="Parse Template" doc:id="dc8a2c8b-3a1e-442c-82e9-56450fbb32c7" >
					<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
				<email:send doc:name="email Send" doc:id="dbd9c8e8-6f2a-471f-8fa9-2ddadea1a1cd" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Account deactived successfully in -" ++ vars.bankname]' >
					<email:to-addresses >
						<email:to-address value="#[vars.email]" />
					</email:to-addresses>
					<email:body contentType="text/html" encoding="UTF-8" />
				</email:send>
				<snowflake:delete doc:name="Delete account from db" doc:id="a2a7861c-a81d-42cb-9906-0515daab5010" config-ref="Snowflake_Config">
					<snowflake:sql ><![CDATA[delete from bank_customer_data where ACCOUNTNUMBER = :accountNumber]]></snowflake:sql>
					<snowflake:input-parameters ><![CDATA[#[{
	"accountNumber": vars.accountNumber
}]]]></snowflake:input-parameters>
				</snowflake:delete>
				<ee:transform doc:name="response" doc:id="d28fa7c3-a3bf-4e2a-a419-3da9f3b200f4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	bank_account_detailes: {
		"account_data": {
			"message": "The account has been deactivated successfully, and an email has been sent to the user.",
			"accountNumber": vars.accountNumber
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="End Flow" doc:id="f2e28d21-764e-42a1-9a22-729a0f3790af" message="#[payload]" />
			</otherwise>
		</choice>
    </flow>
    <flow name="patch:\accounts\(accountNumber):application\json:real-bank-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="aa781a04-b643-429f-99f6-d394fd713b8c" message="---------------------------Start Flow---------------------------" />
		<set-variable value="#[attributes.uriParams.accountNumber as String]" doc:name="accountNumber" doc:id="7cb0fe9e-f925-4af7-8b64-c8814a2deff0" variableName="accountNumber" />
		<set-variable value="#[payload]" doc:name="inputpayload" doc:id="a7208d10-b855-4f22-baec-7dc8676fb58b" variableName="inputpayload" />
		<logger level="INFO" doc:name="Before DB" doc:id="83dd0205-7f52-4f7f-b22c-7025cafc4d7f" message="--------------Before DB-----------" />
		<snowflake:select doc:name="Verify account in DB" doc:id="4d28f074-8c6a-4938-aafd-64c9d41550c3" config-ref="Snowflake_Config" >
			<snowflake:sql ><![CDATA[select * from bank_customer_data where accountnumber = :accountNumber]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"accountNumber": vars.accountNumber
	}]]]></snowflake:input-parameters>
		</snowflake:select>
		<set-variable value="#[payload.FULLNAME]" doc:name="FULLNAME" doc:id="7e86024e-dcac-4a05-9aa7-5876a1aad619" variableName="FULLNAME" />
		<logger level="INFO" doc:name="After DB" doc:id="9e93168f-4795-49f3-91a5-ada4df6a3a43" message="-------------------After DB-----------#[payload]" />
		<choice doc:name="Choice" doc:id="889d1865-1e4b-4aa9-a766-9c5c78e291d2" >
			<when expression="#[sizeOf(payload) == 1 and payload.FULLNAME[0] == vars.inputpayload.FullName and payload.MOBILENUMBER[0] == vars.inputpayload.mobileNumber and payload.ADDRESS[0] == vars.inputpayload.address]" >
				<ee:transform doc:name="Account Existed" doc:id="9ed55c28-5feb-4a78-bf35-651d5168e3bb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status": "Failed",
	"StatusCode": 200,
    message: "Requested data is already updated with the same details",
    accountNumber: vars.accountNumber,
    account_data: {
    	"fullname": payload.FULLNAME[0],
    	"mobilenumber": payload.MOBILENUMBER[0],
    	"address": payload.ADDRESS[0],
    	"accountStatus": payload.STATUS[0],
    	"accountCreatedOn": payload.CREATED_AT[0]
    }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="End Flow" doc:id="705cf523-db78-4be0-9c05-e9a0238ea384" message="--------------------End Flow--------------#[payload]" />
			</when>
			<otherwise >
				<set-variable value="#[payload.EMAIL[0]]" doc:name="email" doc:id="25b87d6d-8555-4edd-a1de-ffdfbc87bc7d" variableName="email" />
				<set-variable value="#[payload.BANKNAME[0]]" doc:name="BANKNAME" doc:id="cb9808ad-24c6-490d-a360-2875c09c7e2d" variableName="BANKNAME" />
				<snowflake:update doc:name="Update requested data" doc:id="7c76b681-9d34-45ce-80d8-ec65d8a2844b" config-ref="Snowflake_Config" target="dbresponse" >
					<snowflake:sql ><![CDATA[UPDATE bank_customer_data
SET FULLNAME =:FullName,
    ADDRESS =:address,
    MOBILENUMBER =:mobileNumber
WHERE ACCOUNTNUMBER =:accountNumber]]></snowflake:sql>
					<snowflake:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	FullName: vars.inputpayload.FullName,
	address: vars.inputpayload.address,
	mobileNumber: vars.inputpayload.mobileNumber,
	accountNumber: vars.accountNumber
}]]]></snowflake:input-parameters>
				</snowflake:update>
				<ee:transform doc:name="After DB" doc:id="dd6a4940-8548-49b4-817a-1a6e340a7b40" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;body {&#10;    margin: 0;&#10;    padding: 40px 0;&#10;    background: #f4f7fb;&#10;    font-family: Arial, Helvetica, sans-serif;&#10;}&#10;&#10;.container {&#10;    width: 680px;&#10;    margin: auto;&#10;    background: #ffffff;&#10;    border-radius: 16px;&#10;    overflow: hidden;&#10;    box-shadow: 0 12px 35px rgba(0, 0, 0, .12);&#10;}&#10;&#10;.header {&#10;    background: linear-gradient(90deg, #0047AB, #0066CC);&#10;    color: white;&#10;    text-align: center;&#10;    padding: 35px;&#10;}&#10;&#10;.logo {&#10;    font-size: 32px;&#10;    font-weight: bold;&#10;}&#10;&#10;.tagline {&#10;    margin-top: 8px;&#10;    font-size: 14px;&#10;    opacity: .9;&#10;}&#10;&#10;.success {&#10;    text-align: center;&#10;    padding: 35px 30px;&#10;}&#10;&#10;.icon {&#10;    width: 90px;&#10;    height: 90px;&#10;    line-height: 90px;&#10;    margin: auto;&#10;    border-radius: 50%;&#10;    background: #16a34a;&#10;    color: white;&#10;    font-size: 42px;&#10;}&#10;&#10;.success h2 {&#10;    color: #16a34a;&#10;    margin-top: 20px;&#10;    margin-bottom: 10px;&#10;}&#10;&#10;.success p {&#10;    color: #555;&#10;    line-height: 1.6;&#10;}&#10;&#10;.card {&#10;    margin: 30px;&#10;    border: 1px solid #e5e7eb;&#10;    border-radius: 12px;&#10;    overflow: hidden;&#10;}&#10;&#10;.card-title {&#10;    background: #f8fafc;&#10;    color: #003366;&#10;    font-size: 20px;&#10;    font-weight: bold;&#10;    padding: 18px;&#10;}&#10;&#10;table {&#10;    width: 100%;&#10;    border-collapse: collapse;&#10;}&#10;&#10;td {&#10;    padding: 16px;&#10;    border-bottom: 1px solid #ececec;&#10;}&#10;&#10;.label {&#10;    width: 40%;&#10;    font-weight: bold;&#10;    color: #555;&#10;}&#10;&#10;.value {&#10;    color: #111827;&#10;}&#10;&#10;.status {&#10;    color: #16a34a;&#10;    font-weight: bold;&#10;}&#10;&#10;.notice {&#10;    margin: 30px;&#10;    background: #eef7ff;&#10;    border-left: 6px solid #2196F3;&#10;    padding: 20px;&#10;    border-radius: 8px;&#10;    color: #444;&#10;}&#10;&#10;.footer {&#10;    background: #f8fafc;&#10;    text-align: center;&#10;    padding: 30px;&#10;    font-size: 13px;&#10;    color: #666;&#10;}&#10;&#10;.footer b {&#10;    color: #003366;&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;    &lt;div class='bank'&gt;&#10;        🏦 &quot; ++ (payload.BANKNAME[0] default &quot;N/A&quot;) ++ &quot;&#10;    &lt;/div&gt;&#10;    &lt;div class='tagline'&gt;&#10;        Safe • Secure • Digital Banking&#10;    &lt;/div&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='success'&gt;&#10;    &lt;div class='icon'&gt;✓&lt;/div&gt;&#10;    &lt;h2&gt;Account Updated Successfully&lt;/h2&gt;&#10;    &lt;p&gt;&#10;        Dear &lt;b&gt;&quot; ++ (vars.inputPayload.FullName default &quot;Customer&quot;) ++ &quot;&lt;/b&gt;,&#10;        &lt;br/&gt;&lt;br/&gt;&#10;        Your account information has been successfully updated in our banking system.&#10;    &lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;    &lt;div class='card-title'&gt;Updated Account Details&lt;/div&gt;&#10;    &lt;table&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Reference Number&lt;/td&gt;&#10;            &lt;td class='value'&gt;&quot; ++ (vars.transactionId default &quot;RBK-&quot; ++ (now() as String {format: &quot;yyyyMMddHHmmss&quot;})) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Account Number&lt;/td&gt;&#10;            &lt;td class='value'&gt;&quot; ++ (vars.accountNumber default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Customer Name&lt;/td&gt;&#10;            &lt;td class='value'&gt;&quot; ++ (vars.inputPayload.FullName default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Mobile Number&lt;/td&gt;&#10;            &lt;td class='value'&gt;&quot; ++ (vars.inputPayload.mobileNumber default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Email Address&lt;/td&gt;&#10;            &lt;td class='value'&gt;&quot; ++ (vars.email default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Aadhaar&lt;/td&gt;&#10;            &lt;td class='value'&gt;XXXX XXXX &quot; ++ ((vars.adharNumber as String default &quot;XXXX XXXX&quot;)[-4 to -1]) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Address&lt;/td&gt;&#10;            &lt;td class='value'&gt;&quot; ++ (vars.inputpayload.address default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Bank Name&lt;/td&gt;&#10;            &lt;td class='value'&gt;&quot; ++ (vars.BANKNAME default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Updated On&lt;/td&gt;&#10;            &lt;td class='value'&gt;&quot; ++ (now() as String {format: &quot;dd MMM yyyy hh:mm:ss a&quot;}) ++ &quot;&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;        &lt;tr&gt;&#10;            &lt;td class='label'&gt;Status&lt;/td&gt;&#10;            &lt;td class='value status'&gt;SUCCESS&lt;/td&gt;&#10;        &lt;/tr&gt;&#10;    &lt;/table&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='notice'&gt;&#10;    &lt;b&gt;🔒 Security Notice&lt;/b&gt;&#10;    &lt;br/&gt;&lt;br/&gt;&#10;    If you did not request this account update, please contact our 24×7 Customer Care immediately. Protect your banking credentials and never share your OTP, PIN, CVV, or passwords with anyone.&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;    &lt;b&gt;Real Bank&lt;/b&gt;&#10;    &lt;br/&gt;&lt;br/&gt;&#10;    📞 Customer Care: +91 9494207062&#10;    &lt;br/&gt;&#10;    ✉ support@realbank.com&#10;    &lt;br/&gt;&#10;    🌐 www.realbank.com&#10;    &lt;br/&gt;&lt;br/&gt;&#10;    © 2026 Real Bank. All Rights Reserved.&#10;    &lt;br/&gt;&lt;br/&gt;&#10;    This is an automated notification. Please do not reply to this email.&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="bce05987-92ab-4df0-8d71-efb89dbfc74b" variableName="emailBody" />
				<parse-template doc:name="Parse Template" doc:id="ebac5d5b-22e3-4bfa-bc33-655deb43c305" >
					<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
				<email:send doc:name="email Send" doc:id="e9671ab5-0bd3-4fbd-ba47-ad44639ba3db" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Account detailes updated successfully - " ++ vars.BANKNAME]' >
					<email:to-addresses >
						<email:to-address value="#[vars.email]" />
					</email:to-addresses>
					<email:body contentType="text/html" encoding="UTF-8" />
				</email:send>
				<ee:transform doc:name="response" doc:id="22b8bd86-7696-4976-9c69-7c3cbe155f24" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	bank_account_detailes: {
		"account_data": {
			"status": "Success",
			"statusCode": 200,
			"message": "The account has been updated successfully, and an email has been sent successfully.",
			"accountNumber": vars.accountNumber,
			"user_input_data": {
				"input_data": vars.inputpayload
			}
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="End Flow" doc:id="0f086fd7-5724-4598-847a-671bdce98b3f" message="-------------------End Flow----------------------#[payload]" />
			</otherwise>
		</choice>
    </flow>
    <email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="8c28af1c-c5ed-4d51-b6c6-20d6b978d2e5">
		<email:smtp-connection host="smtp.gmail.com" port="587" user="narsingbeesetti06@gmail.com" password="ajfq nryi lwjh zhev" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="get:\accounts:real-bank-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="11b96fef-fd86-4ce5-9535-983f202a667f" message="-------------------------------Start Flow----------------------------------" />
		<set-variable value="#[attributes.queryParams.status]" doc:name="status" doc:id="802b3824-7e8c-46b1-97f5-939aacb04ae9" variableName="status" />
		<logger level="INFO" doc:name="Before DB" doc:id="fdc02822-2cce-4ff5-bf3f-dcc014cee293" message="-----------------Before DB--------------" />
		<snowflake:select doc:name="verify account" doc:id="219b35cb-494c-4d14-9bbe-53d5ce0b1fbf" config-ref="Snowflake_Config" >
			<snowflake:sql ><![CDATA[SELECT * 
FROM bank_customer_data 
WHERE STATUS = :status]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{ status: vars.status }]]]></snowflake:input-parameters>
		</snowflake:select>
		<logger level="INFO" doc:name="After DB" doc:id="7d552aee-f861-43df-b489-39fafbdb38d2" message="--------------After DB--------------" />
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;var inp = []&#10;---&#10;inp&lt;&lt;payload reduce ((item, accumulator) -&gt; item)]" doc:name="inputpayload" doc:id="a6861f0d-779d-4589-b851-8170bc162976" variableName="inputpayload" />
		<choice doc:name="Choice" doc:id="14c34192-c529-4f31-aedb-720401991729" tracking:enable-default-events="true">
			<when expression='#[vars.status == "INACTIVE"]'>
				<set-variable value="#[payload.EMAIL[0]]" doc:name="email" doc:id="9d590e82-d8a8-41a4-a394-11bc89215515" variableName="email" />
				<set-variable value="#[payload.BANKNAME[0]]" doc:name="bankname" doc:id="4670ea64-0598-41e9-8fb3-d3752791f43b" variableName="bankname" />
				<choice doc:name="Choice" doc:id="d6958f85-6bec-4746-8a56-a22d4849f22f">
					<when expression="#[vars.inputpayload.ACCOUNTNUMBER[0] == null]">
						<ee:transform doc:name="account does not exist in database" doc:id="66ab7936-c8e7-4c96-9db6-e8e9daba757e" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"bank_account_detailes": {
		"account_status": {
			"status": "FAILED",
			"statusCode": "404",
			"message": "An account does not exists with the provided customer details. Please try with new details. If you are a new customer, please validate your information."	
		}
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="he customer account deatils does not  existed in DB" doc:id="cfaca53d-9f8c-4870-9860-584afb60462d" message="----------------------------The customer account deatils does not  existed in DB--------------------------"/>
					</when>
					<otherwise >
						<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;body {&#10;    margin: 0;&#10;    padding: 0;&#10;    background: #edf2f7;&#10;    font-family: 'Segoe UI', Arial, sans-serif;&#10;}&#10;&#10;.wrapper {&#10;    width: 100%;&#10;    padding: 30px 0;&#10;}&#10;&#10;.container {&#10;    max-width: 760px;&#10;    margin: auto;&#10;    background: white;&#10;    border-radius: 18px;&#10;    overflow: hidden;&#10;    box-shadow: 0 10px 40px rgba(0, 0, 0, .12);&#10;}&#10;&#10;.header {&#10;    background: linear-gradient(135deg, #003366, #0056b3, #007bff);&#10;    padding: 35px;&#10;    color: white;&#10;}&#10;&#10;.bank {&#10;    font-size: 34px;&#10;    font-weight: bold;&#10;}&#10;&#10;.tag {&#10;    margin-top: 5px;&#10;    font-size: 15px;&#10;    opacity: .9;&#10;}&#10;&#10;.hero {&#10;    padding: 35px;&#10;    background: #f8fbff;&#10;}&#10;&#10;.hero h2 {&#10;    margin: 0;&#10;    color: #003366;&#10;}&#10;&#10;.hero p {&#10;    line-height: 28px;&#10;    color: #666;&#10;}&#10;&#10;.card {&#10;    margin: 30px;&#10;    border-radius: 15px;&#10;    overflow: hidden;&#10;    border: 1px solid #dde5ee;&#10;}&#10;&#10;.card-title {&#10;    background: #003366;&#10;    padding: 18px;&#10;    color: white;&#10;    font-size: 18px;&#10;    font-weight: bold;&#10;}&#10;&#10;table {&#10;    width: 100%;&#10;    border-collapse: collapse;&#10;}&#10;&#10;td {&#10;    padding: 16px;&#10;    border-bottom: 1px solid #ececec;&#10;    font-size: 15px;&#10;}&#10;&#10;td:first-child {&#10;    font-weight: bold;&#10;    background: #fafafa;&#10;    width: 40%;&#10;}&#10;&#10;.balance {&#10;    font-size: 28px;&#10;    font-weight: bold;&#10;    color: #009933;&#10;}&#10;&#10;.status {&#10;    background: #d9f7e8;&#10;    color: #0b8a3b;&#10;    padding: 6px 14px;&#10;    border-radius: 30px;&#10;    display: inline-block;&#10;    font-weight: bold;&#10;}&#10;&#10;.info {&#10;    display: flex;&#10;    gap: 18px;&#10;    padding: 0 25px 25px;&#10;}&#10;&#10;.box {&#10;    flex: 1;&#10;    background: #f7fbff;&#10;    padding: 22px;&#10;    border-radius: 15px;&#10;    text-align: center;&#10;    border: 1px solid #d7e8ff;&#10;}&#10;&#10;.box h3 {&#10;    margin: 10px 0;&#10;    color: #003366;&#10;}&#10;&#10;.box p {&#10;    font-size: 13px;&#10;    color: #666;&#10;    line-height: 22px;&#10;}&#10;&#10;.security {&#10;    margin: 25px;&#10;    padding: 20px;&#10;    background: #fff8ea;&#10;    border-left: 5px solid orange;&#10;    border-radius: 10px;&#10;}&#10;&#10;.security h3 {&#10;    margin-top: 0;&#10;    color: #c67d00;&#10;}&#10;&#10;.footer {&#10;    background: #003366;&#10;    color: white;&#10;    text-align: center;&#10;    padding: 35px;&#10;    font-size: 13px;&#10;    line-height: 24px;&#10;}&#10;&#10;.footer a {&#10;    color: #fff;&#10;    text-decoration: none;&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='wrapper'&gt;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='bank'&gt;&#10;🏦 &quot; ++ (payload.BANKNAME[0] default &quot;N/A&quot;) ++ &quot;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tag'&gt;&#10;Secure • Trusted • Digital Banking&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='hero'&gt;&#10;&#10;&lt;h2&gt;&#10;Welcome,&#10;&lt;b&gt;&quot; ++ (upper(vars.inputpayload.FULLNAME[0]) default &quot;N/A&quot;) ++ &quot;&lt;/b&gt; 👋&#10;&lt;/h2&gt;&#10;&#10;&lt;p&gt;&#10;Congratulations!&#10;Please find your account details below.&#10;Thank you for choosing &lt;b&gt;Real Bank&lt;/b&gt; as your trusted financial partner.&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-title'&gt;&#10;💳 Account Details&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Account Holder&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (payload.FULLNAME[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Bank Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.bankname default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Account Number&lt;/td&gt;&#10;&lt;td&gt;&lt;b&gt;&quot; ++ (vars.inputpayload.ACCOUNTNUMBER[0] default &quot;N/A&quot;) ++ &quot;&lt;/b&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Date of Birth&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.DATEOFBIRTH[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Mobile Number&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.MOBILENUMBER[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Email Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.email default &quot;customer@email.com&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Aadhaar&lt;/td&gt;&#10;&lt;td&gt;XXXX XXXX &quot; ++ ((vars.inputpayload.ADHARNUMBER[0] as String default &quot;N/A&quot;)[-4 to -1]) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.ADDRESS[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Status&lt;/td&gt;&#10;&lt;td&gt;&lt;span class='status'&gt;&quot; ++ (vars.status default &quot;N/A&quot;) ++ &quot;&lt;/span&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Available Balance&lt;/td&gt;&#10;&lt;td class='balance'&gt;₹ &quot; ++ (vars.inputpayload.BALANCE[0] default &quot;0.00&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='security'&gt;&#10;&#10;&lt;h3&gt;&#10;🔒 Banking Security&#10;&lt;/h3&gt;&#10;&#10;&lt;ul&gt;&#10;&lt;li&gt;Never share your ATM PIN.&lt;/li&gt;&#10;&lt;li&gt;Never share OTP with anyone.&lt;/li&gt;&#10;&lt;li&gt;Real Bank never asks for passwords.&lt;/li&gt;&#10;&lt;li&gt;Enable SMS &amp; Email transaction alerts.&lt;/li&gt;&#10;&lt;li&gt;Report fraudulent transactions immediately.&lt;/li&gt;&#10;&lt;/ul&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='info'&gt;&#10;&#10;&lt;div class='box'&gt;&#10;📱&#10;&lt;h3&gt;Mobile Banking&lt;/h3&gt;&#10;&lt;p&gt;&#10;Transfer money instantly.&#10;Manage debit cards.&#10;Recharge &amp; bill payments.&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='box'&gt;&#10;🌐&#10;&lt;h3&gt;Internet Banking&lt;/h3&gt;&#10;&lt;p&gt;&#10;View statements.&#10;Download reports.&#10;Manage beneficiaries.&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='box'&gt;&#10;☎️&#10;&lt;h3&gt;24×7 Support&lt;/h3&gt;&#10;&lt;p&gt;&#10;Phone: +91 9494207062&#10;&lt;br&gt;&lt;br&gt;&#10;Email: narsingbeesetti22@gmail.com&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&lt;b&gt;Thank you for banking with Real Bank.&lt;/b&gt;&#10;&lt;br&gt;&lt;br&gt;&#10;© 2026 Real Bank&#10;&lt;br&gt;&#10;This is an automated email. Please do not reply.&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="cbc5ef06-a283-460a-8a38-3386b1076253" variableName="emailBody" />
						<parse-template doc:name="Parse Template" doc:id="14f9047e-8eda-436b-a424-84baee186dcc">
					<content>&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
						<email:send doc:name="Send" doc:id="1173e40c-f794-43fc-b30e-53dbb6699ecd" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Your Account detailes - " ++ vars.bankname as String]'>
					<email:to-addresses>
						<email:to-address value="#[vars.email]" />
					</email:to-addresses>
					<email:body contentType="text/html" encoding="UTF-8" />
				</email:send>
						<ee:transform doc:name="response" doc:id="3f41bef5-cc63-4023-a9fb-a9cb2eab4e7e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  bankDetails: {
    account_data: {
	  "status": "Success",
	  "statusCode": 200,
      "message": "The account details email has been sent successfully to the user.",
      "data": vars.inputpayload map (item) -> item - "TRANSACTIONS"  }
  }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					</otherwise>
				</choice>
				<logger level="INFO" doc:name="End Flow" doc:id="793620c6-fff3-4548-8008-1283e16ec16a" message="----------------------------End Flow------------------------#[payload]" />
			</when>
			<when expression='#[vars.status == "ACTIVE"]'>
				<set-variable value="#[payload.EMAIL[0]]" doc:name="email" doc:id="d330fe54-6503-49a5-9c51-c7f2b44d43f5" variableName="email" />
				<set-variable value="#[payload.BANKNAME[0]]" doc:name="bankname" doc:id="973a4aa0-78a2-4f01-99b5-befe35be4423" variableName="bankname" />
				<choice doc:name="Choice" doc:id="ea495e87-92c2-4a5a-a841-9fbb7e3c7ba9">
					<when expression="#[vars.inputpayload.ACCOUNTNUMBER[0] == null]">
						<ee:transform doc:name="account does not exist in database" doc:id="ffd23d46-4f93-496c-b5a6-17204c42e536" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"bank_account_detailes": {
		"account_status": {
			"status": "FAILED",
			"statusCode": "409",
			"message": "An account does not exists with the provided customer details. Please try with new details. If you are a new customer, please validate your information."	
		}
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="he customer account deatils does not  existed in DB" doc:id="58648b0d-240a-48c8-b34b-3bca019ca244" message="----------------------------The customer account deatils does not  existed in DB--------------------------" />
					</when>
					<otherwise >
						<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;body {&#10;    margin: 0;&#10;    padding: 0;&#10;    background: #edf2f7;&#10;    font-family: 'Segoe UI', Arial, sans-serif;&#10;}&#10;&#10;.wrapper {&#10;    width: 100%;&#10;    padding: 30px 0;&#10;}&#10;&#10;.container {&#10;    max-width: 760px;&#10;    margin: auto;&#10;    background: white;&#10;    border-radius: 18px;&#10;    overflow: hidden;&#10;    box-shadow: 0 10px 40px rgba(0, 0, 0, .12);&#10;}&#10;&#10;.header {&#10;    background: linear-gradient(135deg, #003366, #0056b3, #007bff);&#10;    padding: 35px;&#10;    color: white;&#10;}&#10;&#10;.bank {&#10;    font-size: 34px;&#10;    font-weight: bold;&#10;}&#10;&#10;.tag {&#10;    margin-top: 5px;&#10;    font-size: 15px;&#10;    opacity: .9;&#10;}&#10;&#10;.hero {&#10;    padding: 35px;&#10;    background: #f8fbff;&#10;}&#10;&#10;.hero h2 {&#10;    margin: 0;&#10;    color: #003366;&#10;}&#10;&#10;.hero p {&#10;    line-height: 28px;&#10;    color: #666;&#10;}&#10;&#10;.card {&#10;    margin: 30px;&#10;    border-radius: 15px;&#10;    overflow: hidden;&#10;    border: 1px solid #dde5ee;&#10;}&#10;&#10;.card-title {&#10;    background: #003366;&#10;    padding: 18px;&#10;    color: white;&#10;    font-size: 18px;&#10;    font-weight: bold;&#10;}&#10;&#10;table {&#10;    width: 100%;&#10;    border-collapse: collapse;&#10;}&#10;&#10;td {&#10;    padding: 16px;&#10;    border-bottom: 1px solid #ececec;&#10;    font-size: 15px;&#10;}&#10;&#10;td:first-child {&#10;    font-weight: bold;&#10;    background: #fafafa;&#10;    width: 40%;&#10;}&#10;&#10;.balance {&#10;    font-size: 28px;&#10;    font-weight: bold;&#10;    color: #009933;&#10;}&#10;&#10;.status {&#10;    background: #d9f7e8;&#10;    color: #0b8a3b;&#10;    padding: 6px 14px;&#10;    border-radius: 30px;&#10;    display: inline-block;&#10;    font-weight: bold;&#10;}&#10;&#10;.info {&#10;    display: flex;&#10;    gap: 18px;&#10;    padding: 0 25px 25px;&#10;}&#10;&#10;.box {&#10;    flex: 1;&#10;    background: #f7fbff;&#10;    padding: 22px;&#10;    border-radius: 15px;&#10;    text-align: center;&#10;    border: 1px solid #d7e8ff;&#10;}&#10;&#10;.box h3 {&#10;    margin: 10px 0;&#10;    color: #003366;&#10;}&#10;&#10;.box p {&#10;    font-size: 13px;&#10;    color: #666;&#10;    line-height: 22px;&#10;}&#10;&#10;.security {&#10;    margin: 25px;&#10;    padding: 20px;&#10;    background: #fff8ea;&#10;    border-left: 5px solid orange;&#10;    border-radius: 10px;&#10;}&#10;&#10;.security h3 {&#10;    margin-top: 0;&#10;    color: #c67d00;&#10;}&#10;&#10;.footer {&#10;    background: #003366;&#10;    color: white;&#10;    text-align: center;&#10;    padding: 35px;&#10;    font-size: 13px;&#10;    line-height: 24px;&#10;}&#10;&#10;.footer a {&#10;    color: #fff;&#10;    text-decoration: none;&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='wrapper'&gt;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='bank'&gt;&#10;🏦 &quot; ++ (payload.BANKNAME[0] default &quot;N/A&quot;) ++ &quot;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tag'&gt;&#10;Secure • Trusted • Digital Banking&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='hero'&gt;&#10;&#10;&lt;h2&gt;&#10;Welcome,&#10;&lt;b&gt;&quot; ++ (upper(vars.inputpayload.FULLNAME[0]) default &quot;N/A&quot;) ++ &quot;&lt;/b&gt; 👋&#10;&lt;/h2&gt;&#10;&#10;&lt;p&gt;&#10;Congratulations!&#10;Please find your account details below.&#10;Thank you for choosing &lt;b&gt;Real Bank&lt;/b&gt; as your trusted financial partner.&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-title'&gt;&#10;💳 Account Details&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Account Holder&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (payload.FULLNAME[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Bank Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.bankname default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Account Number&lt;/td&gt;&#10;&lt;td&gt;&lt;b&gt;&quot; ++ (vars.inputpayload.ACCOUNTNUMBER[0] default &quot;N/A&quot;) ++ &quot;&lt;/b&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Date of Birth&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.DATEOFBIRTH[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Mobile Number&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.MOBILENUMBER[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Email Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.email default &quot;customer@email.com&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Aadhaar&lt;/td&gt;&#10;&lt;td&gt;XXXX XXXX &quot; ++ ((vars.inputpayload.ADHARNUMBER[0] as String default &quot;N/A&quot;)[-4 to -1]) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputpayload.ADDRESS[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Status&lt;/td&gt;&#10;&lt;td&gt;&lt;span class='status'&gt;&quot; ++ (vars.status default &quot;N/A&quot;) ++ &quot;&lt;/span&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Available Balance&lt;/td&gt;&#10;&lt;td class='balance'&gt;₹ &quot; ++ (vars.inputpayload.BALANCE[0] default &quot;0.00&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='security'&gt;&#10;&#10;&lt;h3&gt;&#10;🔒 Banking Security&#10;&lt;/h3&gt;&#10;&#10;&lt;ul&gt;&#10;&lt;li&gt;Never share your ATM PIN.&lt;/li&gt;&#10;&lt;li&gt;Never share OTP with anyone.&lt;/li&gt;&#10;&lt;li&gt;Real Bank never asks for passwords.&lt;/li&gt;&#10;&lt;li&gt;Enable SMS &amp; Email transaction alerts.&lt;/li&gt;&#10;&lt;li&gt;Report fraudulent transactions immediately.&lt;/li&gt;&#10;&lt;/ul&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='info'&gt;&#10;&#10;&lt;div class='box'&gt;&#10;📱&#10;&lt;h3&gt;Mobile Banking&lt;/h3&gt;&#10;&lt;p&gt;&#10;Transfer money instantly.&#10;Manage debit cards.&#10;Recharge &amp; bill payments.&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='box'&gt;&#10;🌐&#10;&lt;h3&gt;Internet Banking&lt;/h3&gt;&#10;&lt;p&gt;&#10;View statements.&#10;Download reports.&#10;Manage beneficiaries.&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='box'&gt;&#10;☎️&#10;&lt;h3&gt;24×7 Support&lt;/h3&gt;&#10;&lt;p&gt;&#10;Phone: +91 9494207062&#10;&lt;br&gt;&lt;br&gt;&#10;Email: narsingbeesetti22@gmail.com&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&lt;b&gt;Thank you for banking with Real Bank.&lt;/b&gt;&#10;&lt;br&gt;&lt;br&gt;&#10;© 2026 Real Bank&#10;&lt;br&gt;&#10;This is an automated email. Please do not reply.&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="c492b1f0-e2c8-43b8-8c97-893c5c9d8d90" variableName="emailBody" />
						<parse-template doc:name="Parse Template" doc:id="006f4eac-4431-43ea-8696-7852b9351cea">
					<content>&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
						<email:send doc:name="Send" doc:id="d903f0da-d97d-4123-bedf-2836eae87ccf" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Your Account detailes - " ++ vars.bankname as String]'>
					<email:to-addresses>
						<email:to-address value="#[vars.email]" />
					</email:to-addresses>
					<email:body contentType="text/html" encoding="UTF-8" />
				</email:send>
						<ee:transform doc:name="response" doc:id="e29bc522-a883-4dec-b0e5-b93b3d0a2775">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  bankDetails: {
    account_data: {
       "status": "Success",
       "statusCode": 200,
       "message": "The account details email has been sent successfully to the user.",
       "data": vars.inputpayload map (item) -> item - "TRANSACTIONS"  }
  }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					</otherwise>
				</choice>
				<logger level="INFO" doc:name="End Flow" doc:id="fc5e8131-2b67-434f-9c58-a81a95f97c10" message="----------------------------End Flow------------------------#[payload]" />
			</when>
		</choice>
    </flow>
    <flow name="get:\accounts\(accountNumber)\transactions:real-bank-api-config">
        <logger level="INFO" doc:name="start Transcation cal" doc:id="60804525-ad85-4477-ae27-925ef5813868" message="------------start Transcation call----------"/>
		<set-variable value="#[attributes.uriParams.accountNumber as String]" doc:name="accountNumber" doc:id="ce9b83b6-cb5f-4939-9105-88fabd5cac87" variableName="accountNumber" />
		<snowflake:select doc:name="verify account data" doc:id="af54d493-31bc-431f-acf9-e8cfdd2807ab" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[select * from bank_customer_data where accountnumber = :accountNumber]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"accountNumber": attributes.uriParams.accountNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<set-variable value="#[payload.EMAIL[0]]" doc:name="email" doc:id="847a69fb-1c56-4772-9629-3a2b05d24731" variableName="email"/>
		<set-variable value="#[payload.BANKNAME[0]]" doc:name="bankName" doc:id="9a672ac5-5daf-484e-8b88-e7d5a687cd47" variableName="bankName"/>
		<logger level="INFO" doc:name="After verify database" doc:id="10a99c6f-4a8c-4cad-84e7-29f509bd2179" message="=========After verify database==="/>
		<choice doc:name="Choice" doc:id="98894a0c-b061-4e0a-9879-2527974fffe2">
			<when expression="#[sizeOf(payload) == 0]">
				<ee:transform doc:name="account does not exist in database" doc:id="32645beb-8a1f-4d40-bb7b-1da0a1d9255b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"bank_account_detailes": {
		"account_status": {
			"status": "FAILED",
			"statusCode": "404",
			"accountNumber": vars.accountNumber default "Unknow",
			"message": "An account does not exists with the provided customer details. Please try with new details. If you are a new customer, please validate your information."	
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="The customer account deatils does not  existed in DB" doc:id="390e2dae-ca2c-4803-b3b2-1975a5195a4c" message="----------------------------The customer account deatils does not  existed in DB--------------------------" />
			</when>
			<otherwise >
				<snowflake:select doc:name="retrive transaction data" doc:id="56fbbefc-33a5-418b-a866-f9392d0b02e2" config-ref="Snowflake_Config" target="db">
			<snowflake:sql><![CDATA[SELECT
    c.ACCOUNTNUMBER AS ACCOUNTNUMBER,
    t.value['transactionType']::STRING AS TRANSACTIONTYPE,
    t.value['amount']::NUMBER AS AMOUNT,
    t.value['balanceAfterTransaction']::NUMBER AS BALANCE,
    t.value['timestamp']::STRING AS TIMESTAMP
FROM MYDATABASE.PUBLIC.BANK_CUSTOMER_DATA c,
LATERAL FLATTEN(INPUT => c.TRANSACTIONS) t
WHERE c.ACCOUNTNUMBER = :accountNumber;]]></snowflake:sql>
			<snowflake:input-parameters><![CDATA[#[{
    accountNumber: vars.accountNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
				<ee:transform doc:name="after database" doc:id="909cda10-cfe8-48d3-9cdf-b3cbcf5af201">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="payloadType" doc:id="2f0cf47f-a1a7-4121-8051-55efa2d345b7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    payloadType: typeOf(payload),
    payload: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    status: "SUCCESS",&#10;    statusCode: 200,&#10;    transactions: vars.db map (row) -&gt; {&#10;        accountNumber: row.ACCOUNTNUMBER,&#10;        transactionType: row.TRANSACTIONTYPE,&#10;        amount: row.AMOUNT,&#10;        balance: row.BALANCE,&#10;        timestamp: row.TIMESTAMP&#10;    }&#10;}]' doc:name="output" doc:id="e3c39f5e-2dac-4147-8b80-a1d88d10439f" variableName="output"/>
				<ee:transform doc:name="output from the transactions" doc:id="ef0754c2-883c-4e78-8a21-35ddeba90474">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;var customer = payload.payload[0]&#10;&#10;var transactionString =&#10;    (customer.TRANSACTIONS default &quot;[]&quot;) as String&#10;&#10;var transactions =&#10;    if (isEmpty(transactionString))&#10;        []&#10;    else&#10;        read(transactionString, &quot;application/json&quot;)&#10;&#10;var accountNumber =&#10;    (customer.ACCOUNTNUMBER default &quot;XXXXXXXXXX&quot;) as String&#10;&#10;var accountHolder =&#10;    (customer.FULLNAME default &quot;N/A&quot;) as String&#10;&#10;var balance =&#10;    (customer.BALANCE default 0) as Number&#10;&#10;var status =&#10;    (customer.STATUS default &quot;N/A&quot;) as String&#10;    &#10;var bankName =&#10;    (customer.BANKNAME default &quot;N/A&quot;) as String&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;&#10;body{&#10;font-family:'Segoe UI',Arial,sans-serif;&#10;background:linear-gradient(135deg,#667eea,#764ba2);&#10;padding:40px 20px;&#10;}&#10;&#10;.container{&#10;max-width:1100px;&#10;margin:auto;&#10;background:white;&#10;border-radius:20px;&#10;overflow:hidden;&#10;box-shadow:0 25px 50px rgba(0,0,0,.2);&#10;}&#10;&#10;.header{&#10;background:linear-gradient(135deg,#1a237e,#283593);&#10;color:white;&#10;padding:40px;&#10;text-align:center;&#10;}&#10;&#10;.bank-logo{&#10;font-size:40px;&#10;}&#10;&#10;.header h1{&#10;font-size:32px;&#10;}&#10;&#10;.account-info{&#10;padding:30px;&#10;}&#10;&#10;.info-card{&#10;display:grid;&#10;grid-template-columns:repeat(4,1fr);&#10;gap:20px;&#10;background:#f8f9ff;&#10;padding:25px;&#10;border-radius:15px;&#10;}&#10;&#10;.label{&#10;font-size:12px;&#10;color:#666;&#10;}&#10;&#10;.value{&#10;font-size:16px;&#10;font-weight:bold;&#10;color:#1a237e;&#10;}&#10;&#10;&#10;.summary{&#10;padding:0 30px 30px;&#10;display:grid;&#10;grid-template-columns:repeat(3,1fr);&#10;gap:20px;&#10;}&#10;&#10;&#10;.card{&#10;padding:20px;&#10;border:2px solid #eee;&#10;border-radius:15px;&#10;}&#10;&#10;&#10;.card-icon{&#10;font-size:30px;&#10;}&#10;&#10;.card-label{&#10;color:#666;&#10;font-size:13px;&#10;}&#10;&#10;.card-value{&#10;font-size:22px;&#10;font-weight:bold;&#10;color:#1a237e;&#10;}&#10;&#10;.balance{&#10;color:#4caf50;&#10;}&#10;&#10;&#10;.table-section{&#10;padding:0 30px 40px;&#10;}&#10;&#10;&#10;table{&#10;width:100%;&#10;border-collapse:separate;&#10;border-spacing:0 8px;&#10;}&#10;&#10;&#10;th{&#10;background:#667eea;&#10;color:white;&#10;padding:15px;&#10;}&#10;&#10;&#10;td{&#10;padding:15px;&#10;text-align:center;&#10;background:#fff;&#10;border-bottom:1px solid #eee;&#10;}&#10;&#10;&#10;.badge{&#10;padding:5px 12px;&#10;border-radius:20px;&#10;font-size:12px;&#10;font-weight:bold;&#10;}&#10;&#10;&#10;.credit{&#10;background:#e8f5e9;&#10;color:#2e7d32;&#10;}&#10;&#10;&#10;.debit{&#10;background:#ffebee;&#10;color:#c62828;&#10;}&#10;&#10;&#10;.amount-credit{&#10;color:#2e7d32;&#10;font-weight:bold;&#10;}&#10;&#10;&#10;.amount-debit{&#10;color:#c62828;&#10;font-weight:bold;&#10;}&#10;&#10;&#10;.footer{&#10;background:#f8f9ff;&#10;padding:25px;&#10;text-align:center;&#10;}&#10;&#10;&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&#10;&lt;body&gt;&#10;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='bank-logo'&gt;🏦 REAL BANK&lt;/div&gt;&#10;&#10;&lt;h1&gt;Transaction Statement&lt;/h1&gt;&#10;&#10;&lt;p&gt;Your financial overview at a glance&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div class='account-info'&gt;&#10;&#10;&lt;div class='info-card'&gt;&#10;&#10;&#10;&lt;div&gt;&#10;&lt;span class='label'&gt;Account Number&lt;/span&gt;&#10;&lt;br&gt;&#10;&lt;span class='value'&gt;&quot; ++ accountNumber ++ &quot;&lt;/span&gt;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div&gt;&#10;&lt;span class='label'&gt;Account Holder&lt;/span&gt;&#10;&lt;br&gt;&#10;&lt;span class='value'&gt;&quot; ++ accountHolder ++ &quot;&lt;/span&gt;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div&gt;&#10;&lt;span class='label'&gt;Generated On&lt;/span&gt;&#10;&lt;br&gt;&#10;&lt;span class='value'&gt;&quot; ++ (now() as String) ++ &quot;&lt;/span&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div&gt;&#10;    &lt;span class='label'&gt;Status&lt;/span&gt;&#10;    &lt;br/&gt;&#10;    &lt;span class='value' style='color:&quot; ++&#10;        (if (upper(status) == &quot;ACTIVE&quot;) &quot;green&quot; else &quot;red&quot;)&#10;        ++ &quot;;'&gt;&#10;        ● &quot; ++ status ++ &quot;&#10;    &lt;/span&gt;&#10;&lt;/div&gt;&#10;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&#10;&lt;div class='summary'&gt;&#10;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-icon'&gt;💰&lt;/div&gt;&#10;&#10;&lt;span class='card-label'&gt;&#10;Available Balance&#10;&lt;/span&gt;&#10;&#10;&lt;br&gt;&#10;&#10;&lt;span class='card-value balance'&gt;&#10;₹ &quot; ++ (balance as String) ++ &quot;&#10;&lt;/span&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-icon'&gt;📊&lt;/div&gt;&#10;&#10;&lt;span class='card-label'&gt;&#10;Total Transactions&#10;&lt;/span&gt;&#10;&#10;&lt;br&gt;&#10;&#10;&lt;span class='card-value'&gt;&#10;&quot; ++ (sizeOf(transactions) as String) ++ &quot;&#10;&lt;/span&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-icon'&gt;🏛️&lt;/div&gt;&#10;&#10;&lt;span class='card-label'&gt;&#10;Bank&#10;&lt;/span&gt;&#10;&#10;&lt;br&gt;&#10;&#10;&lt;span class='card-value'&gt;&#10;REAL BANK&#10;&lt;/span&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&#10;&lt;div class='table-section'&gt;&#10;&#10;&#10;&lt;table&gt;&#10;&#10;&#10;&lt;tr&gt;&#10;&#10;&lt;th&gt;S.No&lt;/th&gt;&#10;&#10;&lt;th&gt;Transaction Type&lt;/th&gt;&#10;&#10;&lt;th&gt;Amount&lt;/th&gt;&#10;&#10;&lt;th&gt;Balance&lt;/th&gt;&#10;&#10;&lt;th&gt;Date &amp; Time&lt;/th&gt;&#10;&#10;&lt;/tr&gt;&#10;&#10;&#10;&quot; ++&#10;&#10;(&#10;transactions map ((item,index)-&gt;&#10;&#10;&#10;&quot;&lt;tr&gt;&#10;&#10;&lt;td&gt;&quot; ++ ((index+1) as String) ++ &quot;&lt;/td&gt;&#10;&#10;&#10;&lt;td&gt;&#10;&#10;&lt;span class='badge &quot; ++&#10;&#10;(if ((item.transactionType default &quot;&quot;) as String == &quot;DEPOSIT&quot;)&#10;&quot;credit&quot;&#10;else&#10;&quot;debit&quot;)&#10;&#10;++ &quot;'&gt;&#10;&#10;&quot; ++&#10;&#10;((item.transactionType default &quot;UNKNOWN&quot;) as String)&#10;&#10;++&#10;&#10;&quot;&lt;/span&gt;&#10;&#10;&lt;/td&gt;&#10;&#10;&#10;&#10;&lt;td class='&quot; ++&#10;&#10;(if ((item.transactionType default &quot;&quot;) as String == &quot;DEPOSIT&quot;)&#10;&quot;amount-credit&quot;&#10;else&#10;&quot;amount-debit&quot;)&#10;&#10;++&#10;&#10;&quot;'&gt;&#10;&#10;&#10;&quot; ++&#10;&#10;(if ((item.transactionType default &quot;&quot;) as String == &quot;DEPOSIT&quot;)&#10;&quot;+&quot;&#10;else&#10;&quot;-&quot;)&#10;&#10;++&#10;&#10;&quot;₹ &quot;&#10;&#10;++&#10;&#10;((item.amount default 0) as String)&#10;&#10;++&#10;&#10;&quot;&lt;/td&gt;&#10;&#10;&#10;&#10;&#10;&lt;td&gt;&#10;&#10;₹ &quot;&#10;&#10;++&#10;&#10;((item.balanceAfterTransaction default 0) as String)&#10;&#10;++&#10;&#10;&quot;&lt;/td&gt;&#10;&#10;&#10;&#10;&lt;td&gt;&#10;&#10;&quot;&#10;&#10;++&#10;&#10;((item.timestamp default &quot;&quot;) as String)&#10;&#10;++&#10;&#10;&quot;&#10;&#10;&lt;/td&gt;&#10;&#10;&#10;&lt;/tr&gt;&quot;&#10;&#10;)&#10;&#10;joinBy &quot;&quot;&#10;&#10;)&#10;&#10;++&#10;&#10;&quot;&#10;&#10;&#10;&lt;/table&gt;&#10;&#10;&#10;&lt;/div&gt;&#10;&#10;&#10;&#10;&#10;&lt;div class='footer'&gt;&#10;&#10;&lt;b&gt;Real Bank&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;&#10;&#10;📞 Customer Care : +91 9494207062&lt;br/&gt;&#10;&#10;✉ support@realbank.com&lt;br/&gt;&#10;&#10;🌐 www.realbank.com&lt;br/&gt;&lt;br/&gt;&#10;&#10;© 2026 Real Bank. All Rights Reserved.&lt;br/&gt;&lt;br/&gt;&#10;&#10;This is an automated transaction alert. Please do not reply to this email.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&lt;/html&gt;&quot;]" doc:name="emailbody" doc:id="91500775-0fe7-4185-806b-55c0c5bea3d4" variableName="emailbody"/>
				<parse-template doc:name="Parse Template" doc:id="2b32b871-0b64-40cc-a81d-f4994e5ce14e" >
					<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailbody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
				<email:send doc:name="email Send" doc:id="6f88a2bf-fd2c-4df3-8dfa-49553db207cd" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Please find your Transactions in this month -" ++ vars.bankName]' >
					<email:to-addresses >
						<email:to-address value="#[vars.email]" />
					</email:to-addresses>
					<email:body contentType="text/html" encoding="UTF-8" />
				</email:send>
				<ee:transform doc:name="final output" doc:id="21a663db-b474-41ba-a9d2-93374a19dcf4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars."output"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Transaction Flow" doc:id="6be7b618-cb22-4874-aac0-ad7b97083843" message="-----------------------End Transaction Flow-----------------------#[payload]"/>
    </flow>
    <flow name="get:\accounts\(accountNumber):real-bank-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="d67509e3-0302-43cc-8722-1109d28f39db" message="-------------------------------Start Flow----------------------------------" />
		<set-variable value="#[attributes.uriParams.accountNumber]" doc:name="accountNumber" doc:id="aa7aa711-bab2-487e-b7ef-ba6693182037" variableName="accountNumber" />
		<logger level="INFO" doc:name="inside cache" doc:id="ea34504e-7c7c-4194-a90f-7634515d8d7d" message="-------------------inside cahe before DB--------------------------" />
		<ee:cache doc:name="Cache" doc:id="612fce1d-880c-49ff-8b74-87b049f76ad0" >
			<logger level="INFO" doc:name="inside cache" doc:id="1955c852-925d-432d-915d-1473329db530" message="-------------------inside cahe before DB--------------------------" />
		</ee:cache>
		<logger level="INFO" doc:name="Before DB" doc:id="e09bba82-1c10-4054-8ef8-c50034f8b86c" message="-----------------Before DB--------------" />
		<snowflake:select doc:name="verify account" doc:id="428fd417-6abb-481e-82a1-362eef63c933" config-ref="Snowflake_Config" >
			<snowflake:sql ><![CDATA[select * from BANK_CUSTOMER_DATA where accountNumber = :account]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"account": vars.accountNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<logger level="INFO" doc:name="After DB" doc:id="29bd30bb-2ae0-45bb-8428-0684d8bd826c" message="--------------After DB--------------" />
		<choice doc:name="Choice" doc:id="64cd4207-3301-41dc-ab4d-684ef3ec0e12" >
			<when expression="#[sizeOf(payload) == 0]" >
				<ee:transform doc:name="Account not found" doc:id="e85102a9-cc1b-4f69-8d0c-810ae9ad5d30" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "Failed",
  message: "We couldn’t find an account with the given account number. Please check and try again.",
  accountNumber: vars.accountNumber
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="End Flow" doc:id="a8af3651-ee57-4ea9-8be2-14e158049127" message="-------------End Flow-------------#[payload]" />
			</when>
			<otherwise >
				<set-variable value="#[payload.EMAIL[0]]" doc:name="email" doc:id="ecf0ed4f-9808-4dac-b453-ab972766bf08" variableName="email" />
				<set-variable value="#[payload.BANKNAME[0]]" doc:name="bankname" doc:id="8400b1d1-1f01-459a-a907-6d27a01c8ee5" variableName="bankname" />
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;body {&#10;    margin: 0;&#10;    padding: 0;&#10;    background: #edf2f7;&#10;    font-family: 'Segoe UI', Arial, sans-serif;&#10;}&#10;&#10;.wrapper {&#10;    width: 100%;&#10;    padding: 30px 0;&#10;}&#10;&#10;.container {&#10;    max-width: 760px;&#10;    margin: auto;&#10;    background: white;&#10;    border-radius: 18px;&#10;    overflow: hidden;&#10;    box-shadow: 0 10px 40px rgba(0, 0, 0, .12);&#10;}&#10;&#10;.header {&#10;    background: linear-gradient(135deg, #003366, #0056b3, #007bff);&#10;    padding: 35px;&#10;    color: white;&#10;}&#10;&#10;.bank {&#10;    font-size: 34px;&#10;    font-weight: bold;&#10;}&#10;&#10;.tag {&#10;    margin-top: 5px;&#10;    font-size: 15px;&#10;    opacity: .9;&#10;}&#10;&#10;.hero {&#10;    padding: 35px;&#10;    background: #f8fbff;&#10;}&#10;&#10;.hero h2 {&#10;    margin: 0;&#10;    color: #003366;&#10;}&#10;&#10;.hero p {&#10;    line-height: 28px;&#10;    color: #666;&#10;}&#10;&#10;.card {&#10;    margin: 30px;&#10;    border-radius: 15px;&#10;    overflow: hidden;&#10;    border: 1px solid #dde5ee;&#10;}&#10;&#10;.card-title {&#10;    background: #003366;&#10;    padding: 18px;&#10;    color: white;&#10;    font-size: 18px;&#10;    font-weight: bold;&#10;}&#10;&#10;table {&#10;    width: 100%;&#10;    border-collapse: collapse;&#10;}&#10;&#10;td {&#10;    padding: 16px;&#10;    border-bottom: 1px solid #ececec;&#10;    font-size: 15px;&#10;}&#10;&#10;td:first-child {&#10;    font-weight: bold;&#10;    background: #fafafa;&#10;    width: 40%;&#10;}&#10;&#10;.balance {&#10;    font-size: 28px;&#10;    font-weight: bold;&#10;    color: #009933;&#10;}&#10;&#10;.status {&#10;    background: #d9f7e8;&#10;    color: #0b8a3b;&#10;    padding: 6px 14px;&#10;    border-radius: 30px;&#10;    display: inline-block;&#10;    font-weight: bold;&#10;}&#10;&#10;.info {&#10;    display: flex;&#10;    gap: 18px;&#10;    padding: 0 25px 25px;&#10;}&#10;&#10;.box {&#10;    flex: 1;&#10;    background: #f7fbff;&#10;    padding: 22px;&#10;    border-radius: 15px;&#10;    text-align: center;&#10;    border: 1px solid #d7e8ff;&#10;}&#10;&#10;.box h3 {&#10;    margin: 10px 0;&#10;    color: #003366;&#10;}&#10;&#10;.box p {&#10;    font-size: 13px;&#10;    color: #666;&#10;    line-height: 22px;&#10;}&#10;&#10;.security {&#10;    margin: 25px;&#10;    padding: 20px;&#10;    background: #fff8ea;&#10;    border-left: 5px solid orange;&#10;    border-radius: 10px;&#10;}&#10;&#10;.security h3 {&#10;    margin-top: 0;&#10;    color: #c67d00;&#10;}&#10;&#10;.footer {&#10;    background: #003366;&#10;    color: white;&#10;    text-align: center;&#10;    padding: 35px;&#10;    font-size: 13px;&#10;    line-height: 24px;&#10;}&#10;&#10;.footer a {&#10;    color: #fff;&#10;    text-decoration: none;&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='wrapper'&gt;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='bank'&gt;&#10;🏦 &quot; ++ (vars.bankname default &quot;N/A&quot;) ++ &quot;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tag'&gt;&#10;Secure • Trusted • Digital Banking&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='hero'&gt;&#10;&#10;&lt;h2&gt;&#10;Welcome,&#10;&lt;b&gt;&quot; ++ (upper(payload.FULLNAME[0] default &quot;N/A&quot;)) ++ &quot;&lt;/b&gt; 👋&#10;&lt;/h2&gt;&#10;&#10;&lt;p&gt;&#10;Congratulations! Please find your account details below. Thank you for choosing &lt;b&gt;Real Bank&lt;/b&gt; as your trusted financial partner.&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-title'&gt;&#10;💳 Account Details&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Account Holder&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (payload.FULLNAME[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Bank Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.bankname default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Account Number&lt;/td&gt;&#10;&lt;td&gt;&lt;b&gt;&quot; ++ (vars.accountNumber default &quot;N/A&quot;) ++ &quot;&lt;/b&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Date of Birth&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (payload.DATEOFBIRTH[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Mobile Number&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (payload.MOBILENUMBER[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Email Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.email default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Aadhaar&lt;/td&gt;&#10;&lt;td&gt;XXXX XXXX &quot; ++ ((payload.ADHARNUMBER[0] as String default &quot;N/A&quot;)[-4 to -1] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (payload.ADDRESS[0] default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Status&lt;/td&gt;&#10;&lt;td&gt;&lt;span class='status'&gt;&quot; ++ (payload.STATUS[0] default &quot;N/A&quot;) ++ &quot;&lt;/span&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Available Balance&lt;/td&gt;&#10;&lt;td class='balance'&gt;₹ &quot; ++ (payload.BALANCE[0] default &quot;0.00&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='security'&gt;&#10;&#10;&lt;h3&gt;&#10;🔒 Banking Security&#10;&lt;/h3&gt;&#10;&#10;&lt;ul&gt;&#10;&lt;li&gt;Never share your ATM PIN.&lt;/li&gt;&#10;&lt;li&gt;Never share OTP with anyone.&lt;/li&gt;&#10;&lt;li&gt;Real Bank never asks for passwords.&lt;/li&gt;&#10;&lt;li&gt;Enable SMS &amp; Email transaction alerts.&lt;/li&gt;&#10;&lt;li&gt;Report fraudulent transactions immediately.&lt;/li&gt;&#10;&lt;/ul&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='info'&gt;&#10;&#10;&lt;div class='box'&gt;&#10;📱&#10;&lt;h3&gt;Mobile Banking&lt;/h3&gt;&#10;&lt;p&gt;&#10;Transfer money instantly. Manage debit cards. Recharge &amp; bill payments.&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='box'&gt;&#10;🌐&#10;&lt;h3&gt;Internet Banking&lt;/h3&gt;&#10;&lt;p&gt;&#10;View statements. Download reports. Manage beneficiaries.&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='box'&gt;&#10;☎️&#10;&lt;h3&gt;24×7 Support&lt;/h3&gt;&#10;&lt;p&gt;&#10;Phone: +91 9494207062&#10;&lt;br&gt;&lt;br&gt;&#10;Email: narsingbeesetti22@gmail.com&#10;&lt;/p&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&lt;b&gt;Thank you for banking with Real Bank.&lt;/b&gt;&#10;&lt;br&gt;&lt;br&gt;&#10;© 2026 Real Bank&#10;&lt;br&gt;&#10;This is an automated email. Please do not reply.&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="4b03faf1-4cb3-4894-832d-dd41158ad1cf" variableName="emailBody" />
				<set-variable value="#[payload.STATUS[0]]" doc:name="status" doc:id="e1466d25-c44b-42a9-8501-924b850c8828" variableName="status"/>
				<parse-template doc:name="Parse Template" doc:id="add6e5bc-2105-4dd0-90e2-e25be83927bf" >
					<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
				<email:send doc:name="email Send" doc:id="cb464d6b-fc09-4b48-9245-ac116a6a6abc" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Your Account detailes -" ++ vars.bankname as String]' >
					<email:to-addresses >
						<email:to-address value="#[vars.email]" />
					</email:to-addresses>
					<email:body contentType="text/html" encoding="UTF-8" />
				</email:send>
				<ee:transform doc:name="response" doc:id="8e53328c-226b-4181-9d94-a489c472b1ae" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  bankDetails: {
    account_data: {
    	"status": "success",
    	"statusCode": 200,
    	"message": "The account details email has been sent successfully to the user.",
    	"accountNumber": vars.accountNumber,
    	"bankName": vars.bankname,
    	"email": vars.email,
    	"status": vars.status		
    }
  }
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="End Flow" doc:id="896e97e8-200e-44ab-a0cd-f76ca7a3a5ed" message="----------------------------End Flow------------------------#[payload]" />
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\accounts:application\json:real-bank-api-config">
		<logger level="INFO" doc:name="Start Flow" doc:id="d81c697c-26a4-47c3-8afa-b8ab310d3d08" message="----------------------------Start Flow--------------------" />
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	adharNumber: attributes.queryParams.adharNumber,&#10;	bankName: attributes.queryParams.bankName&#10;}]" doc:name="inputAttributes" doc:id="42150123-545e-4476-8787-8fb103024fb6" variableName="inputAttributes" />
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;var inp = []&#10;---&#10;inp&lt;&lt;payload reduce ((item, accumulator) -&gt; item)]" doc:name="inputPayload" doc:id="6774ad9d-5d3a-4d6e-92a9-0d18f6403df6" variableName="inputPayload" />
		<logger level="INFO" doc:name="Before Choice" doc:id="822af244-8925-45ce-b4e8-d0986006c7fb" message="------------------Before Choice---------------" />
		<choice doc:name="Choice" doc:id="6f321c77-515a-40ad-9a9c-4879b0b46362" >
			<when expression="#[vars.inputPayload.address == null or vars.inputPayload.mobileNumber == null or vars.inputPayload.FullName == null or vars.inputPayload.dateOfBirth == null or vars.inputPayload.email == null]" >
				<raise-error doc:name="Raise error" doc:id="641eca2a-fa1f-469f-bb3e-7756b43d0dde" type='"HTTP:INVALID_REQUEST" ' description='"REQUIRED_KEY_FIELDS_MISSING" ' />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Valid Data" doc:id="489343cd-00d1-4ebd-9450-15002fb607a5" message="'Valid Data'" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="inside cache" doc:id="6ad41c81-c412-4992-91f2-652400f3bb92" message="-------------------inside cahe before DB--------------------------" />
		<ee:cache doc:name="Cache" doc:id="60d33349-fb3e-4543-bded-a6c7f6bd72b0" >
			<logger level="INFO" doc:name="inside cache" doc:id="8d4e7a1d-4ffe-4003-be7e-a90793c6cc9f" message="-------------------inside cahe before DB--------------------------" />
		</ee:cache>
		<logger level="INFO" doc:name="Before DB" doc:id="ea6cf7a1-3c87-44d7-9f7d-bbec25a37640" message="--------------Before DB-------------" />
		<snowflake:select doc:id="6155e104-62e8-45f8-aa59-698eb98e2a08" config-ref="Snowflake_Config" doc:name="verify account" >
			<snowflake:sql ><![CDATA[SELECT ACCOUNTNUMBER
FROM bank_customer_data
WHERE email = :email
   OR dateOfBirth = :dateOfBirth
   OR adharNumber = :adharNumber;
]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
	"email": vars.inputPayload.email,
	"dateOfBirth": vars.inputPayload.dateOfBirth,
	"adharNumber": vars.inputAttributes.adharNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<ee:transform doc:name="After DB" doc:id="90692ea6-e91a-489e-8c5f-009a9a5d715b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice1" doc:id="42e2fb57-07af-40a9-a2ce-9b12dc02e93b" >
			<when expression="#[!isEmpty(payload)]" >
				<ee:transform doc:name="Account aready existed" doc:id="79bcd196-3cde-4242-be2f-e3447eb49030" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"bank_account_detailes": {
		"account_status": {
			"status": "FAILED",
			"statusCode": "409",
			"message": "An account already exists with the provided customer details. Please try with new details. If you are a new customer, please validate your information."	
		},
		"account_data": {
			"accountNumber": payload.ACCOUNTNUMBER,
			"adharNumber": vars.inputAttributes.adharNumber,
			"bankName": vars.inputAttributes.bankName
		},
		"input_data": {
			"payload": vars.inputPayload
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="The customer account is already existed in DB" doc:id="38a7bb72-864c-4c6e-aeb0-ad7210699de7" message="----------------------------The customer account is already existed in DB--------------------------#[payload]" />
			</when>
			<otherwise >
				<ee:transform doc:name="Account Number creation" doc:id="35323621-595b-45a7-9ea3-73a5fbd24310" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    accountNumber: (floor(random() * 10000) + 856974568600) as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[payload.accountNumber]" doc:name="accountNumber" doc:id="0648bac7-7748-4bcd-80af-a67ccc9174e2" variableName="accountNumber" />
				<logger level="INFO" doc:name="Before DB" doc:id="64935068-3546-496a-bcbd-1ca91949e852" message="-------------------Before DB--------------" />
				<snowflake:insert doc:id="6892f975-2c2c-4091-a077-7375ed012a76" config-ref="Snowflake_Config" doc:name="Insert data " >
					<snowflake:sql ><![CDATA[insert into bank_customer_data(FullName,dateOfBirth,mobileNumber,bankName,email,address,adharNumber,accountNumber)
values (:FullName, :dateOfBirth, :mobileNumber, :bankName, :email, :address, :adharNumber, :accountNumber);]]></snowflake:sql>
					<snowflake:input-parameters ><![CDATA[#[{
	"FullName": vars.inputPayload.FullName,
	"dateOfBirth": vars.inputPayload.dateOfBirth,
	"mobileNumber": vars.inputPayload.mobileNumber,
	"email": vars.inputPayload.email,
	"address": vars.inputPayload.address,
	"adharNumber": vars.inputAttributes.adharNumber,
	"accountNumber": vars.accountNumber,
	"bankName": vars.inputAttributes.bankName
}]]]></snowflake:input-parameters>
				</snowflake:insert>
				<logger level="INFO" doc:name="After DB" doc:id="795b221b-1cb8-4d00-b8fb-3e5a28ce4fa3" message="----------------------After DB------------------#[payload]" />
				<set-variable doc:name="emailBody" doc:id="da6e32f5-23ba-4073-9ec2-8d7ca3871582" variableName="emailBody" value="#[%dw 2.0&#10;output application/java&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&lt;title&gt;Welcome to Real Bank&lt;/title&gt;&#10;&#10;&lt;style&gt;&#10;* {&#10;    margin: 0;&#10;    padding: 0;&#10;    box-sizing: border-box;&#10;}&#10;&#10;body {&#10;    background: #eef3f8;&#10;    font-family: 'Segoe UI', Arial, sans-serif;&#10;    padding: 30px 0;&#10;    color: #333;&#10;}&#10;&#10;.wrapper {&#10;    max-width: 760px;&#10;    margin: auto;&#10;    background: #ffffff;&#10;    border-radius: 20px;&#10;    overflow: hidden;&#10;    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);&#10;}&#10;&#10;/* Header */&#10;.header {&#10;    background: linear-gradient(135deg, #002B5B, #0056B3, #0D6EFD);&#10;    padding: 45px;&#10;    color: #fff;&#10;    text-align: center;&#10;}&#10;&#10;.logo {&#10;    font-size: 38px;&#10;    font-weight: bold;&#10;    letter-spacing: 1px;&#10;}&#10;&#10;.tagline {&#10;    margin-top: 8px;&#10;    font-size: 15px;&#10;    opacity: .9;&#10;}&#10;&#10;/* Hero */&#10;.hero {&#10;    padding: 35px;&#10;    background: #f8fbff;&#10;    text-align: center;&#10;}&#10;&#10;.hero h2 {&#10;    color: #003366;&#10;    margin-bottom: 12px;&#10;    font-size: 30px;&#10;}&#10;&#10;.hero p {&#10;    color: #666;&#10;    line-height: 28px;&#10;    font-size: 15px;&#10;}&#10;&#10;.success {&#10;    margin: 25px auto;&#10;    width: 90%;&#10;    background: #E9F8EE;&#10;    border-left: 6px solid #16A34A;&#10;    padding: 18px;&#10;    border-radius: 10px;&#10;    font-size: 16px;&#10;    color: #0E7C3A;&#10;    font-weight: bold;&#10;}&#10;&#10;/* Account Card */&#10;.card {&#10;    margin: 30px;&#10;    border-radius: 16px;&#10;    overflow: hidden;&#10;    border: 1px solid #dfe6ee;&#10;}&#10;&#10;.card-title {&#10;    background: #003366;&#10;    color: white;&#10;    padding: 18px;&#10;    font-size: 20px;&#10;    font-weight: bold;&#10;}&#10;&#10;table {&#10;    width: 100%;&#10;    border-collapse: collapse;&#10;}&#10;&#10;td {&#10;    padding: 18px;&#10;    border-bottom: 1px solid #ececec;&#10;}&#10;&#10;td:first-child {&#10;    background: #fafafa;&#10;    font-weight: bold;&#10;    width: 38%;&#10;    color: #555;&#10;}&#10;&#10;.accno {&#10;    font-size: 24px;&#10;    font-weight: bold;&#10;    color: #0056B3;&#10;}&#10;&#10;.balance {&#10;    font-size: 26px;&#10;    font-weight: bold;&#10;    color: #16A34A;&#10;}&#10;&#10;.active {&#10;    background: #DDF8E7;&#10;    color: #118A43;&#10;    padding: 6px 18px;&#10;    border-radius: 25px;&#10;    font-weight: bold;&#10;}&#10;&#10;/* Feature Cards */&#10;.features {&#10;    display: flex;&#10;    gap: 18px;&#10;    padding: 0 30px 30px;&#10;}&#10;&#10;.feature {&#10;    flex: 1;&#10;    background: #f7fbff;&#10;    border: 1px solid #dbeafe;&#10;    padding: 22px;&#10;    border-radius: 15px;&#10;    text-align: center;&#10;}&#10;&#10;.feature .icon {&#10;    font-size: 40px;&#10;}&#10;&#10;.feature h3 {&#10;    margin: 15px 0;&#10;    color: #003366;&#10;}&#10;&#10;.feature p {&#10;    font-size: 13px;&#10;    line-height: 22px;&#10;    color: #666;&#10;}&#10;&#10;/* Security */&#10;.security {&#10;    margin: 0 30px 30px;&#10;    background: #FFF8EA;&#10;    padding: 22px;&#10;    border-left: 6px solid orange;&#10;    border-radius: 10px;&#10;}&#10;&#10;.security h3 {&#10;    margin-bottom: 12px;&#10;    color: #C97B00;&#10;}&#10;&#10;.security li {&#10;    margin: 10px 0;&#10;}&#10;&#10;/* Footer */&#10;.footer {&#10;    background: #002B5B;&#10;    padding: 35px;&#10;    text-align: center;&#10;    color: white;&#10;}&#10;&#10;.footer h3 {&#10;    margin-bottom: 10px;&#10;}&#10;&#10;.footer p {&#10;    line-height: 24px;&#10;    font-size: 13px;&#10;    opacity: .95;&#10;}&#10;&#10;.support {&#10;    margin-top: 20px;&#10;    padding-top: 20px;&#10;    border-top: 1px solid rgba(255, 255, 255, .2);&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='wrapper'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='logo'&gt;&#10;&#10;🏦 &quot; ++ (vars.inputAttributes.bankName default &quot;REAL BANK&quot;) ++ &quot;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tagline'&gt;&#10;&#10;Safe • Secure • Trusted Banking&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='hero'&gt;&#10;&#10;&lt;h2&gt;&#10;&#10;Welcome,&#10;&quot; ++ upper(vars.inputPayload.FullName default &quot;CUSTOMER&quot;) ++ &quot; 👋&#10;&#10;&lt;/h2&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Thank you for choosing&#10;&lt;b&gt;&quot; ++ (vars.inputAttributes.bankName default &quot;Real Bank&quot;) ++ &quot;&lt;/b&gt;.&#10;&#10;Your account has been successfully created and is now ready for banking.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;div class='success'&gt;&#10;&#10;✅ Account Created Successfully&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-title'&gt;&#10;&#10;💳 Account Summary&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;👤 Customer Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputPayload.FullName default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;🏦 Bank Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputAttributes.bankName default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;💳 Account Number&lt;/td&gt;&#10;&lt;td class='accno'&gt;&quot; ++ (vars.accountNumber default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📱 Mobile Number&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputPayload.mobileNumber default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📧 Email Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputPayload.email default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;🪪 Aadhaar Number&lt;/td&gt;&#10;&lt;td&gt;XXXX XXXX &quot; ++ (((vars.inputAttributes.adharNumber default &quot;&quot;) as String)[-4 to -1]) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📍 Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (vars.inputPayload.address default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;💰 Opening Balance&lt;/td&gt;&#10;&lt;td class='balance'&gt;₹0.00&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;✅ Account Status&lt;/td&gt;&#10;&lt;td&gt;&lt;span class='active'&gt;ACTIVE&lt;/span&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='features'&gt;&#10;&#10;&lt;div class='feature'&gt;&#10;&#10;&lt;div class='icon'&gt;📱&lt;/div&gt;&#10;&#10;&lt;h3&gt;Mobile Banking&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Transfer funds instantly.&#10;&#10;UPI Payments.&#10;&#10;Bill Payments.&#10;&#10;Recharge Services.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='feature'&gt;&#10;&#10;&lt;div class='icon'&gt;🌐&lt;/div&gt;&#10;&#10;&lt;h3&gt;Internet Banking&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Mini Statement.&#10;&#10;Download Statements.&#10;&#10;Manage Beneficiaries.&#10;&#10;Profile Updates.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='feature'&gt;&#10;&#10;&lt;div class='icon'&gt;💳&lt;/div&gt;&#10;&#10;&lt;h3&gt;Debit Card&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Card Controls.&#10;&#10;ATM Withdrawals.&#10;&#10;Contactless Payments.&#10;&#10;Transaction Limits.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='security'&gt;&#10;&#10;&lt;h3&gt;&#10;&#10;🔐 Important Security Guidelines&#10;&#10;&lt;/h3&gt;&#10;&#10;&lt;ul&gt;&#10;&#10;&lt;li&gt;Never share your OTP, ATM PIN or CVV.&lt;/li&gt;&#10;&#10;&lt;li&gt;Real Bank never asks for passwords or OTP over phone.&lt;/li&gt;&#10;&#10;&lt;li&gt;Always verify beneficiaries before fund transfer.&lt;/li&gt;&#10;&#10;&lt;li&gt;Enable SMS &amp; Email transaction alerts.&lt;/li&gt;&#10;&#10;&lt;li&gt;Report unauthorized activity immediately.&lt;/li&gt;&#10;&#10;&lt;/ul&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&#10;&lt;h3&gt;&#10;&#10;Thank You For Banking With Us ❤️&#10;&#10;&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Customer Care : +91 9494207062&#10;&#10;&lt;br&gt;&#10;&#10;Email : narsingbeesetti22@gmail.com&#10;&#10;&lt;br&gt;&lt;br&gt;&#10;&#10;© 2026 Real Bank&#10;&#10;&lt;br&gt;&#10;&#10;Safe Banking | Digital Banking | Secure Transactions&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;div class='support'&gt;&#10;&#10;This is an automated email. Please do not reply.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&lt;/html&gt;&quot;]"/>
				<parse-template doc:name="Parse Template" doc:id="2db3ab64-8905-40b8-8c4b-824c9ade182a" >
					<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
				</parse-template>
				<email:send doc:id="25bf7d64-1053-4a27-99ed-f279cc6690ad" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Account created successfully in -" ++ vars.inputAttributes.bankName]' doc:name="email send">
					<email:to-addresses >
						<email:to-address value="#[vars.inputPayload.email]" />
					</email:to-addresses>
					<email:body contentType="text/html" encoding="UTF-8" />
				</email:send>
				<ee:transform doc:name="response" doc:id="01588c5d-f1ed-4bda-a64f-bb360f36bae2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	bank_account_detailes: {
		"account_data": {
			"status": "Success",
			"statusCode": 201,
			"message": "Congratulations!, Your account has been created successfully, and an email has been sent to the user.",
			"accountCreatedTimestamp": now(),
			"accountNumber": vars.accountNumber,
			"bankName": vars.inputAttributes.bankName,
			"user_input_data": {
				"data": vars.inputPayload
			}
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="End Flow" doc:id="b7ec3e7d-e814-440f-8ceb-4c9c82fb47a3" message="-------------------End flow--------------#[payload]" />
			</otherwise>
		</choice>
    </flow>
    <sub-flow name="real-bank-apiSub_Flow-deposit" doc:id="da7c085b-8bf7-4ac8-b810-73bee91d2341" >
		<logger level="INFO" doc:name="Before send an email" doc:id="7489b755-ac7d-4cef-88be-e2429afee401" message="--------------------------------------------Before send an email--------------------------------------#[payload]" />
		<snowflake:select doc:name="Select" doc:id="bdd682ce-6ac3-4600-a7be-6d63713fa886" config-ref="Snowflake_Config" >
			<snowflake:sql ><![CDATA[select * from bank_customer_data]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[payload]]]></snowflake:input-parameters>
		</snowflake:select>
		<set-variable value="#[payload.BANKNAME[0]]" doc:name="BANKNAME" doc:id="d965792d-291a-4241-8d10-e3a08cab96de" variableName="BANKNAME" />
		<set-variable value="#[payload[0].BALANCE default 0]" doc:name="balance" doc:id="e1a823c4-a509-40f8-a620-3b8a40fdae38" variableName="balance"/>
		<set-variable value='#["TXN-" ++ (now() as String {format: "yyyyMMddHHmmss"})]' doc:name="transactionId" doc:id="7a6fad78-982e-4994-8f65-7071451b6439" variableName="transactionId" />
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;var account =&#10;    (payload filter ($.ACCOUNTNUMBER == vars.accountNumber))[0]&#10;    default {}&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&lt;title&gt;Deposit Successful&lt;/title&gt;&#10;&#10;&lt;style&gt;&#10;body{&#10;    margin:0;&#10;    padding:0;&#10;    background:#f4f7fb;&#10;    font-family:Arial,Helvetica,sans-serif;&#10;}&#10;&#10;.container{&#10;    max-width:650px;&#10;    margin:40px auto;&#10;    background:#ffffff;&#10;    border-radius:12px;&#10;    overflow:hidden;&#10;    box-shadow:0 8px 25px rgba(0,0,0,.12);&#10;}&#10;&#10;.header{&#10;    background:linear-gradient(90deg,#0047AB,#0066ff);&#10;    color:white;&#10;    padding:30px;&#10;    text-align:center;&#10;}&#10;&#10;.logo{&#10;    font-size:28px;&#10;    font-weight:bold;&#10;}&#10;&#10;.subtitle{&#10;    margin-top:8px;&#10;    font-size:14px;&#10;    opacity:.9;&#10;}&#10;&#10;.success{&#10;    text-align:center;&#10;    padding:30px 20px;&#10;}&#10;&#10;.success-icon{&#10;    width:80px;&#10;    height:80px;&#10;    line-height:80px;&#10;    margin:auto;&#10;    border-radius:50%;&#10;    background:#16a34a;&#10;    color:white;&#10;    font-size:40px;&#10;}&#10;&#10;.success h2{&#10;    color:#16a34a;&#10;    margin-top:20px;&#10;}&#10;&#10;.message{&#10;    color:#555;&#10;    font-size:15px;&#10;}&#10;&#10;.card{&#10;    margin:25px;&#10;    border-radius:10px;&#10;    border:1px solid #e5e7eb;&#10;    overflow:hidden;&#10;}&#10;&#10;.card-header{&#10;    background:#f8fafc;&#10;    padding:15px;&#10;    font-size:18px;&#10;    font-weight:bold;&#10;    color:#1f2937;&#10;}&#10;&#10;table{&#10;    width:100%;&#10;    border-collapse:collapse;&#10;}&#10;&#10;td{&#10;    padding:14px;&#10;    border-bottom:1px solid #ececec;&#10;}&#10;&#10;.label{&#10;    color:#666;&#10;    font-weight:bold;&#10;}&#10;&#10;.value{&#10;    text-align:right;&#10;    color:#111827;&#10;}&#10;&#10;.amount{&#10;    color:#16a34a;&#10;    font-size:22px;&#10;    font-weight:bold;&#10;}&#10;&#10;.footer{&#10;    background:#f8fafc;&#10;    padding:25px;&#10;    text-align:center;&#10;    color:#777;&#10;    font-size:13px;&#10;}&#10;&#10;.note{&#10;    margin:20px;&#10;    background:#eef7ff;&#10;    border-left:5px solid #0ea5e9;&#10;    padding:15px;&#10;    color:#444;&#10;    border-radius:5px;&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&lt;div class='logo'&gt;🏦 &quot; ++ (vars.BANKNAME default &quot;N/A&quot;) ++ &quot;&lt;/div&gt;&#10;&lt;div class='subtitle'&gt;Secure • Trusted • Digital Banking&lt;/div&gt;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='success'&gt;&#10;&#10;&lt;div class='success-icon'&gt;&#10;✓&#10;&lt;/div&gt;&#10;&#10;&lt;h2&gt;Deposit Successful&lt;/h2&gt;&#10;&#10;&lt;p class='message'&gt;&#10;Your transaction has been processed successfully.&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-header'&gt;&#10;Transaction Summary&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Transaction ID&lt;/td&gt;&#10;&lt;td class='value'&gt;&quot; ++ (vars.transactionId default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Account Number&lt;/td&gt;&#10;&lt;td class='value'&gt;&quot; ++ (vars.accountNumber as String) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Transaction Type&lt;/td&gt;&#10;&lt;td class='value'&gt;DEPOSITED&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Amount Credited&lt;/td&gt;&#10;&lt;td class='value amount'&gt;₹&quot; ++ ((vars.amount default 0) as String) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Available Balance&lt;/td&gt;&#10;&lt;td class='value'&gt;₹&quot; ++ ((account.BALANCE default 0) as String) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Transaction Date&lt;/td&gt;&#10;&lt;td class='value'&gt;&quot; ++ ((now()) as String {format:'dd MMM yyyy hh:mm a'}) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Status&lt;/td&gt;&#10;&lt;td class='value' style='color:#16a34a;font-weight:bold;'&gt;&#10;SUCCESS&#10;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='note'&gt;&#10;&#10;&lt;b&gt;Security Notice&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;&#10;&#10;If you did not authorize this transaction, please contact our Customer Care immediately or call our 24×7 Helpline.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&#10;&lt;b&gt;Real Bank&lt;/b&gt;&lt;br/&gt;&#10;&#10;Customer Care: +91 9494207062&lt;br/&gt;&#10;&#10;Email: support@realbank.com&lt;br/&gt;&lt;br/&gt;&#10;&#10;© 2026 Real Bank. All Rights Reserved.&lt;br/&gt;&#10;&#10;This is an automated transaction alert. Please do not reply to this email.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="57daf25d-9018-41e6-be0a-464f96f2a1ee" variableName="emailBody" />
		<parse-template doc:name="Parse Template" doc:id="198e43b3-33af-4681-abf7-5364732e505d" >
			<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;
</content>
		</parse-template>
		<email:send doc:name="Email Send deposit amount" doc:id="acd66f76-18e8-47af-b9bd-20dd81a9c35a" config-ref="Email_SMTP" fromAddress="narsingbeesetti006@gmail.com" subject='#["Amount Depoist is successful Today! " ++ vars.BANKNAME[0]]' >
			<email:to-addresses >
				<email:to-address value="#[vars.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8"/>
		</email:send>
		<logger level="INFO" doc:name="email sent successfully" doc:id="9b78c3f7-d7ac-4641-8ce8-6a2cab89f874" message="----------------------------------------email sent successfully-----------------------------------------" />
		<ee:transform doc:name="output" doc:id="19840630-bb44-4516-a198-158b36bd2359" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Success",
	"statusCode": 200,
	"message": "Amount deposited successfully done for the Account Number - " ++ vars.accountNumber as String,
	"data": {
		"transactionId": "TXN-" ++ (now() as String {format: "yyyyMMddHHmmss"}),
		"currency": "INR",
		"balance": vars.balance,
		'type': 'Deposit',
	     "timestamp": now()
	}

}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="post:\accounts\(accountNumber)\deposit:application\json:real-bank-api-config">
		<logger level="INFO" doc:name="API Start" doc:id="09e26ad2-cf78-4549-84e6-dcc02c7034eb" message="-----------------------------Deposit API triggred----------------------------" />
		<set-variable value="#[attributes.uriParams.accountNumber]" doc:name="accountNumber" doc:id="6f233d9f-10c7-4b3f-95b0-84f84f0b81f4" variableName="accountNumber" />
		<set-variable value="#[(payload.amount default 0) as Number]" doc:name="amount" doc:id="aa9e0ca8-2271-494a-b987-c70ea079a045" variableName="amount"/>
		<snowflake:select doc:name="Verify account exist or not" doc:id="2f9743df-202a-499d-9bc2-5d472c9c6394" config-ref="Snowflake_Config" >
			<snowflake:sql ><![CDATA[select * from bank_customer_data where accountNumber = :accountNumber]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
  "accountNumber": attributes.uriParams.accountNumber
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;var inp = []&#10;---&#10;inp&lt;&lt;payload reduce ((item, accumulator) -&gt; item)]" doc:name="inputpayload" doc:id="b2165257-4a11-4c01-be11-0d523eca56f4" variableName="inputpayload" />
		<choice doc:name="Choice" doc:id="6941358e-60fb-4221-a003-4346e09cde20" >
			<when expression="#[sizeOf(payload) == 1]" >
				<logger level="INFO" doc:name="record found" doc:id="ba9440b7-a6c0-4e55-b0c5-76a85940cde4" message="---------------------------------Record Found before DB update-------------------------------" />
				<set-variable value="#[payload.EMAIL[0]]" doc:name="email" doc:id="020f28f8-249d-4cb3-82c9-f6b022467d9c" variableName="email" />
				<set-variable value="#[payload]" doc:name="Before update DB" doc:id="2947769e-27b6-4398-98f5-057206ae739f" variableName="Before  update DB" />
				<snowflake:update doc:name="Update" doc:id="df69e7fc-fc9f-41df-a31c-4dac69478280" config-ref="Snowflake_Config" >
					<snowflake:sql ><![CDATA[UPDATE MYDATABASE.PUBLIC.BANK_CUSTOMER_DATA
SET
    BALANCE = COALESCE(BALANCE, 0) + :amount,

    TRANSACTIONS = ARRAY_APPEND(
        COALESCE(TRANSACTIONS, ARRAY_CONSTRUCT()),
        OBJECT_CONSTRUCT(
            'accountNumber', ACCOUNTNUMBER,
            'transactionType', 'DEPOSIT',
            'amount', :amount,
            'balanceAfterTransaction', COALESCE(BALANCE, 0) + :amount,
            'timestamp', CURRENT_TIMESTAMP()
        )
    )

WHERE ACCOUNTNUMBER = :accountNumber;]]></snowflake:sql>
					<snowflake:input-parameters ><![CDATA[#[{
            accountNumber: vars.accountNumber,
            amount: vars.amount
        }]]]></snowflake:input-parameters>
				</snowflake:update>
				<set-variable value="#[payload]" doc:name="AFter DB" doc:id="782d39df-c8cb-4a33-a2bc-9784aac8c528" variableName="AFter DB"/>
				<choice doc:name="" doc:id="6ab78e35-2ed9-4590-ac3f-bc7860dc27a9" >
					<when expression="#[payload.affectedRows &gt;= 1]" >
						<flow-ref doc:name="calling deposit flow" doc:id="431621e5-98b0-4d9a-9466-05ffb2e06353" name="real-bank-apiSub_Flow-deposit" />
						<logger level="INFO" doc:name="Logger" doc:id="5e57de73-0ca9-4cc7-bb05-41369c732224" message="----------------------End Deposite Flow------------------#[payload]-"/>
					</when>
					<otherwise >
						<ee:transform doc:name="Update won't happend" doc:id="4b87a644-6923-4074-9488-ba6dfd460b9f" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: 
    "Account is identified but Amount deposited failed for Account Number - " 
    ++ vars.inputpayload.ACCOUNTNUMBER[0] as String
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="record not found" doc:id="142f4667-7a7a-4f98-b7d6-c63f55956437" message="---------------------------------Record not Found for the given input------------------------------" />
				<ee:transform doc:name="output" doc:id="4f972832-670e-4742-b953-7b6d00e842b9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var accNo = vars.inputpayload.ACCOUNTNUMBER[0] as String
var bank  = vars.inputpayload.BANKNAME[0] as String
---
{
  errorCode: "ACCOUNT_NOT_FOUND",
  message: "Your account number " ++ accNo ++ 
           " does not exist in bank " ++ bank ++ 
           ". Please try with a different account number."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <sub-flow name="real-bank-apiSub_Flow-withdraw" doc:id="0c98cad1-2f7d-4aba-a251-0dc97c0b8330" >
		<logger level="INFO" doc:name="Before send an email" doc:id="1e8ab074-4e9f-4e98-a7d1-26b17d797cd4" message="--------------------------------------------Before send an email--------------------------------------#[payload]" />
		<snowflake:select doc:name="retrive data" doc:id="1f25cbe5-a039-4004-9612-c448249866ef" config-ref="Snowflake_Config">
			<snowflake:sql><![CDATA[select * from bank_customer_data]]></snowflake:sql>
			<snowflake:input-parameters><![CDATA[#[payload]]]></snowflake:input-parameters>
		</snowflake:select>
		<set-variable doc:name="BALANCE" doc:id="82a3201d-2154-439f-9b73-547f66dda7df" variableName="BALANCE" value="#[payload[0].BALANCE default 0]"/>
		<set-variable doc:name="BANKNAME" doc:id="ecebef89-7917-4ecd-88c6-18602310dfca" variableName="BANKNAME" value="#[payload.BANKNAME[0]]"/>
		<set-variable value='#["TXN-" ++ (now() as String {format: "yyyyMMddHHmmss"})]' doc:name="transactionId" doc:id="b1f1b4bc-1e81-45b6-b400-be829b31519c" variableName="transactionId"/>
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;var acc = vars.accountNumber&#10;var record = (payload filter ($.ACCOUNTNUMBER == acc))[0] default {}&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&#10;&lt;style&gt;&#10;&#10;body{&#10;    margin:0;&#10;    padding:0;&#10;    background:#f2f5f9;&#10;    font-family:Arial,Helvetica,sans-serif;&#10;}&#10;&#10;.wrapper{&#10;    width:100%;&#10;    padding:35px 0;&#10;}&#10;&#10;.container{&#10;    width:650px;&#10;    margin:auto;&#10;    background:#ffffff;&#10;    border-radius:15px;&#10;    overflow:hidden;&#10;    box-shadow:0 10px 35px rgba(0,0,0,.15);&#10;}&#10;&#10;.header{&#10;    background:linear-gradient(90deg,#003366,#0059b3);&#10;    padding:30px;&#10;    color:#fff;&#10;    text-align:center;&#10;}&#10;&#10;.logo{&#10;    font-size:30px;&#10;    font-weight:bold;&#10;}&#10;&#10;.tagline{&#10;    margin-top:8px;&#10;    font-size:14px;&#10;    opacity:.9;&#10;}&#10;&#10;.alert{&#10;    text-align:center;&#10;    padding:35px 25px;&#10;}&#10;&#10;.icon{&#10;    width:85px;&#10;    height:85px;&#10;    line-height:85px;&#10;    border-radius:50%;&#10;    margin:auto;&#10;    background:#ef4444;&#10;    color:#fff;&#10;    font-size:42px;&#10;}&#10;&#10;.alert h2{&#10;    color:#dc2626;&#10;    margin-top:20px;&#10;}&#10;&#10;.message{&#10;    color:#555;&#10;    font-size:15px;&#10;}&#10;&#10;.summary{&#10;    margin:25px;&#10;    border:1px solid #e5e7eb;&#10;    border-radius:10px;&#10;    overflow:hidden;&#10;}&#10;&#10;.summary-header{&#10;    background:#f8fafc;&#10;    padding:15px;&#10;    font-size:20px;&#10;    font-weight:bold;&#10;    color:#003366;&#10;}&#10;&#10;table{&#10;    width:100%;&#10;    border-collapse:collapse;&#10;}&#10;&#10;td{&#10;    padding:15px;&#10;    border-bottom:1px solid #ececec;&#10;}&#10;&#10;.label{&#10;    font-weight:bold;&#10;    color:#555;&#10;}&#10;&#10;.value{&#10;    text-align:right;&#10;    color:#111827;&#10;}&#10;&#10;.amount{&#10;    color:#dc2626;&#10;    font-size:22px;&#10;    font-weight:bold;&#10;}&#10;&#10;.status{&#10;    color:#16a34a;&#10;    font-weight:bold;&#10;}&#10;&#10;.notice{&#10;    margin:25px;&#10;    background:#fff8e6;&#10;    border-left:5px solid #f59e0b;&#10;    padding:18px;&#10;    color:#555;&#10;    border-radius:6px;&#10;}&#10;&#10;.footer{&#10;    background:#f8fafc;&#10;    text-align:center;&#10;    padding:30px;&#10;    color:#666;&#10;    font-size:13px;&#10;}&#10;&#10;.footer a{&#10;    color:#0059b3;&#10;    text-decoration:none;&#10;}&#10;&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='wrapper'&gt;&#10;&#10;&lt;div class='container'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='logo'&gt;&#10;🏦 &quot; ++ (vars.BANKNAME default &quot;N/A&quot;) ++ &quot;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tagline'&gt;&#10;Secure • Trusted • Digital Banking&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='alert'&gt;&#10;&#10;&lt;div class='icon'&gt;&#10;⬇&#10;&lt;/div&gt;&#10;&#10;&lt;h2&gt;Debit Transaction Successful&lt;/h2&gt;&#10;&#10;&lt;p class='message'&gt;&#10;A withdrawal has been successfully processed from your account.&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='summary'&gt;&#10;&#10;&lt;div class='summary-header'&gt;&#10;Transaction Details&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Transaction ID&lt;/td&gt;&#10;&lt;td class='value'&gt;&quot; ++ (vars.transactionId default &quot;N/A&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Account Number&lt;/td&gt;&#10;&lt;td class='value'&gt;&quot; ++ (vars.accountNumber as String) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Transaction Type&lt;/td&gt;&#10;&lt;td class='value'&gt;WITHDRAW&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Amount Debited&lt;/td&gt;&#10;&lt;td class='value amount'&gt;&#10;₹&quot; ++ ((vars.amount default 0) as String) ++ &quot;&#10;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Available Balance&lt;/td&gt;&#10;&lt;td class='value'&gt;&#10;₹&quot; ++ ((record.BALANCE default 0) as String) ++ &quot;&#10;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Transaction Date&lt;/td&gt;&#10;&lt;td class='value'&gt;&#10;&quot; ++ ((now()) as String {format:'dd MMM yyyy hh:mm:ss a'}) ++ &quot;&#10;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td class='label'&gt;Status&lt;/td&gt;&#10;&lt;td class='value status'&gt;&#10;SUCCESS&#10;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='notice'&gt;&#10;&#10;&lt;b&gt;Security Advice&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;&#10;&#10;If you did not authorize this transaction, immediately contact our 24×7 Customer Care or temporarily block your debit card through Internet Banking or the Mobile Banking App.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&#10;&lt;b&gt;Real Bank&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;&#10;&#10;📞 Customer Care : +91 9494207062&lt;br/&gt;&#10;&#10;✉ support@realbank.com&lt;br/&gt;&#10;&#10;🌐 www.realbank.com&lt;br/&gt;&lt;br/&gt;&#10;&#10;© 2026 Real Bank. All Rights Reserved.&lt;br/&gt;&lt;br/&gt;&#10;&#10;This is an automated transaction alert. Please do not reply to this email.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="32f32432-fbeb-4d38-bf1e-0ba5c7eae2b0" variableName="emailBody" />
		<parse-template doc:name="Parse Template" doc:id="ca446ad7-6155-4175-a489-c1076dffd1fb" >
			<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;
</content>
		</parse-template>
		<email:send doc:name="Email Send deposit amount" doc:id="b5b58f9d-6fc2-4833-ae9c-4be8be1a9213" config-ref="Email_SMTP" subject='#["Amount Withdraw is successful Today! " ++ vars.BANKNAME as String]' fromAddress="narsingbeesetti006@gmail.com">
			<email:to-addresses >
				<email:to-address value="#[vars.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" />
		</email:send>
		<logger level="INFO" doc:name="email sent successfully" doc:id="c47e3f64-b6a3-47cc-b771-2ebab44fd1f4" message="----------------------------------------email sent successfully-----------------------------------------#[payload]" />
		<ee:transform doc:name="output" doc:id="e5106603-259b-414a-a7e2-2bc9176aad8c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "Success",
    statusCode: 200,
    message: "Amount debited successfully for Account Number - " ++ (vars.accountNumber as String),
    data: {
        transactionId: "TXN-" ++ (now() as String {format: "yyyyMMddHHmmss"}),
        currency: "INR",
        withdrawTime: now(),
        'type': "Withdraw",
        amount: vars.amount,
        balance: vars.BALANCE
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="post:\accounts\(accountNumber)\withdraw:application\json:real-bank-api-config">
		<logger level="INFO" doc:name="API Start" doc:id="f0436cf9-bf17-4289-8216-9a1354b2ba2e" message="-----------------------------Withdraw API triggred----------------------------" />
		<set-variable value="#[attributes.uriParams.accountNumber]" doc:name="accountNumber" doc:id="0a6e0b0b-14f1-4802-9865-8221df5c8323" variableName="accountNumber" />
		<set-variable value="#[(payload.amount default 0) as Number]" doc:name="amount" doc:id="3e4694f3-7a61-48a7-887e-743ffa36dec7" variableName="amount"/>
		<snowflake:select doc:name="Verify account exist or not" doc:id="48aca346-a3ea-416d-883a-f21691ccec95" config-ref="Snowflake_Config">
				<snowflake:sql><![CDATA[select * from bank_customer_data where accountNumber = :accountNumber]]></snowflake:sql>
				<snowflake:input-parameters><![CDATA[#[{
  "accountNumber": vars.accountNumber
  }]]]></snowflake:input-parameters>
			</snowflake:select>
		<set-variable value="#[payload.BALANCE[0]]" doc:name="balance" doc:id="3bd02acf-3fb5-44b4-a657-eb9f11330609" variableName="balance"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;var inp = []&#10;---&#10;inp&lt;&lt;payload reduce ((item, accumulator) -&gt; item)]" doc:name="inputpayload" doc:id="4812b7dd-55d8-45c1-acae-0dafcbef7b9a" variableName="inputpayload" />
		<choice doc:name="Choice" doc:id="69df5e38-7452-4491-9900-9342360cb364" >
			<when expression="#[sizeOf(payload) &gt; 0]" >
				<logger level="INFO" doc:name="record found" doc:id="37965f71-88a6-4b8c-9727-d7c51e831463" message="---------------------------------Record Found before DB update-------------------------------" />
				<set-variable value="#[payload.EMAIL[0]]" doc:name="email" doc:id="6d7daf7f-d131-4ae4-95af-1bcf0f50aeb7" variableName="email" />
				<logger level="INFO" doc:name="Before Update" doc:id="8122ba4c-5c3d-49bd-be6b-277c5ea429ac" message="------------------Before Update withdraw Flow-------------"/>
				<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;var currentBalance = (vars.balance default 0) as Number&#10;var withdrawAmount = (vars.amount default 0) as Number&#10;var remainingBalance = currentBalance - withdrawAmount&#10;&#10;---&#10;{&#10;    balance: remainingBalance,&#10;    amount: withdrawAmount,&#10;    accountNumber: vars.accountNumber&#10;}]" doc:name="leftBalance" doc:id="a72cdb26-8bd0-4224-a063-f8e03dfbe7a4" variableName="leftBalance" />
				<choice doc:name="Choice" doc:id="ef73c3dc-baba-4425-800f-1acfd1cd7e47">
					<when expression="#[vars.inputpayload.BALANCE[0] &gt;= 0]">
						<logger level="INFO" doc:name="Inside balance choice router" doc:id="9c3a4d19-7b34-4e9e-8fe9-c2d41732a562" message="=======Sufficient Balance=======Inside balance choice router==========="/>
						<snowflake:update doc:name="Update account data after money withdraw " doc:id="0b191166-4d1c-4253-9c26-d954a63ec518" config-ref="Snowflake_Config">
					<snowflake:sql><![CDATA[UPDATE MYDATABASE.PUBLIC.BANK_CUSTOMER_DATA
SET
    BALANCE = :balance,
    TRANSACTIONS = ARRAY_APPEND(
        COALESCE(TRANSACTIONS, ARRAY_CONSTRUCT()),
        OBJECT_CONSTRUCT(
            'accountNumber', ACCOUNTNUMBER,
            'transactionType', 'WITHDRAW',
            'amount', :amount,
            'balanceAfterTransaction', :balance,
            'timestamp', CURRENT_TIMESTAMP()
        )
    )
WHERE ACCOUNTNUMBER = :accountNumber;]]></snowflake:sql>
					<snowflake:input-parameters><![CDATA[#[%dw 2.0
output application/java
---
{
	balance: vars.leftBalance.balance as String,
	amount: vars.amount,
	accountNumber: vars.accountNumber,
}]]]></snowflake:input-parameters>
				</snowflake:update>
						<logger level="INFO" doc:name="After Update" doc:id="b5a955bd-3cd6-43f2-b7b7-23db75d0019d" message="-------------------------After Update withdraw Flow-----------------" />
						<choice doc:name="checking the withdraw amount updated or not" doc:id="2fbc3355-b348-43f5-bd0c-d65d2106193c">
					<when expression="#[((payload.updateCount default payload.affectedRows default 0) as Number) &gt; 0]">
								<flow-ref doc:name="call withdraw email flow" doc:id="edc5ea0c-139a-4530-a8c3-375baa1449ab" name="real-bank-apiSub_Flow-withdraw" targetValue="#[vars.email]" />
								<logger level="INFO" doc:name="Logger" doc:id="50b6d5db-60f3-4393-b89e-8e0ef054bdd0" message="--------------------End Withdraw flow------------#[payload]" />
					</when>
							<otherwise>
						<ee:transform doc:name="Update won't happend" doc:id="08e0732e-636b-4440-aadd-ed393014153b">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	amount: vars.amount,
	timestamp: payload.CREATED_AT as String default "",
	status: "Account is identified but Amount withdraw failed for Account Number - " ++ vars.inputpayload.ACCOUNTNUMBER[0] as String
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
					</when>
					<otherwise >
						<ee:transform doc:name="Insufficent balance" doc:id="c9c81b77-c06a-4f50-917b-cb7ce162de0c" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    bank_account_details: {
        account_status: {
            status: "FAILED",
            statusCode: 404,
            amount: vars.amount,
            availableBalance: vars.balance,
            message: "Insufficient balance. The requested withdrawal amount exceeds the available account balance."
        }
    }
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="End insufficent balance flow" doc:id="62bbade7-85a0-4a0b-9112-f1b2327ad9de" message="==========End insufficent balance flow=========#[payload]"/>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="record not found" doc:id="de2d9a1f-7320-4649-a9a9-b4271373f5c4" message="---------------------------------Record not Found for the given input------------------------------" />
				<ee:transform doc:name="output" doc:id="4d07bcc9-2ea5-40b5-beef-4d4b39a5582f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"bank_account_detailes": {
		"account_status": {
			"status": "FAILED",
			"statusCode": "404",
			"accountNumber": vars.accountNumber default "Unknow",
			"message": "An account does not exists with the provided customer details. Please try with new details. If you are a new customer, please validate your information."	
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Record Not Found End Flow" doc:id="15f210d5-5816-4684-a9e9-79db12093f6c" message="==========Record Not Found End Flow===========#[payload]"/>
			</otherwise>
		</choice>
    </flow>
	<flow name="post:\assistance\whatsapp:application\json:real-bank-api-config" doc:id="8bbcaba5-9a87-4633-8b0f-131095ce1e0e" >
		<logger level="INFO" doc:name="Start Whatsapp Assistant Flow" doc:id="63aadbb0-be37-4562-bfa7-b6f66295dc29" message="===============Start Whatsapp Assistant Flow============="/>
		<set-variable value="#[(payload.mobileNumber default payload.data.from default '') as String]" doc:name="mobileNumber" doc:id="fe5a7377-df02-43a0-86da-cfe1fb563d9a" variableName="mobileNumber"/>
		<set-variable value="#[lower(trim(payload.message default payload.data.body default ''))]" doc:name="message" doc:id="974edc4c-3906-4999-981d-01528669fc28" variableName="message"/>
		<logger level="INFO" doc:name="Incoming Payload" doc:id="4b00d95c-dbea-4ab1-880e-61226803e9b6" message="#[write(payload,'application/json')]"/>
		<snowflake:select doc:name="verify customer detsiles exist or not " doc:id="8c6c71ce-2930-48f5-a3ca-cac951fa73e3" config-ref="Snowflake_Config">
					<snowflake:sql><![CDATA[select * from bank_customer_data where mobileNumber = :mobileNumber]]></snowflake:sql>
					<snowflake:input-parameters><![CDATA[#[{
	"mobileNumber": vars.mobileNumber
}]]]></snowflake:input-parameters>
				</snowflake:select>
		<ee:transform doc:name="transform db array payload into json" doc:id="f7ec93d5-5859-40e6-8021-d56ee6e8af78">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="After verify database" doc:id="d85ee2d4-981c-4d5b-8016-bca0d89c0cb8" message="#[payload]" />
		<choice doc:name="Choice" doc:id="9e919042-4b3e-4fd7-bf30-cc27396c2b9a" >
			<when expression='#[vars.message == "accountdetails"]'>
				<logger level="INFO" doc:name="Inside choice route" doc:id="03c9fa27-2052-4ba4-aa44-00c2faf03326" message="=============Inside choice router============"/>
				<choice doc:name="accountdetails" doc:id="c26b1757-72e8-499d-9074-452c6f0f3b55" >
					<when expression="#[sizeOf(payload) == 0]" >
						<ee:transform doc:name="account does not exist" doc:id="3bb9b47f-b899-43ab-9161-c369b1a971e0" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"bank_account_detailes": {
		"account_status": {
			"status": "FAILED",
			"statusCode": "404",
			"message": "An account does not exists with the provided customer details. Please try with new details. If you are a new customer, please validate your information."	
		}
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="he customer account deatils does not  existed in Database" doc:id="3f8e92e8-b02b-4c56-9f93-b45891ca0886" message="----------------------------The customer account deatils does not  existed in Database--------------------------" />
					</when>
					<otherwise>
						<snowflake:select doc:name="retrive account deatiles by mobilenumber" doc:id="697a3e01-4862-49ed-be2f-dc9add22a665" config-ref="Snowflake_Config">
					<snowflake:sql><![CDATA[SELECT
    FULLNAME,
    ACCOUNTNUMBER,
    STATUS,
    BALANCE,
    EMAIL,
    BANKNAME,
    ADDRESS,
    ADHARNUMBER,
    CREATED_AT,
    MOBILENUMBER
FROM BANK_CUSTOMER_DATA
WHERE MOBILENUMBER = :mobileNumber;]]></snowflake:sql>
					<snowflake:input-parameters><![CDATA[#[{
	"mobileNumber": vars.mobileNumber
}]]]></snowflake:input-parameters>
				</snowflake:select>
						<ee:transform doc:name="mask fields" doc:id="d31ca5f0-7b7f-4edb-ab5b-619305dc7104" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var customer = payload[0] default {}
var acc = (customer.ACCOUNTNUMBER default "") as String
var adhar = (customer.ADHARNUMBER default "") as String

---
{
    mobileNumber: customer.MOBILENUMBER default "",
    customerName: customer.FULLNAME default "Customer",

    accountNumber:
        if(sizeOf(acc) >= 4)
            "XXXXXX" ++ acc[-4 to -1]
        else
            "Not Available",

    accountType: customer.STATUS default "N/A",

    balance: customer.BALANCE default 0,

    email: customer.EMAIL default "N/A",

    bankName: customer.BANKNAME default "Real Bank",

    address: customer.ADDRESS default "N/A",

    adharNumber:
        if(sizeOf(adhar) >= 4)
            "XXXXXXXX" ++ adhar[-4 to -1]
        else
            "Not Available",

    createdAt: customer.CREATED_AT default ""
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="payload" doc:id="b2a4aae0-5373-4970-b0e5-46d5e5af56d2" message="#[write(payload,'application/json')]" />
						<http:request method="POST" doc:name="Request send to whatsapp assistant" doc:id="7c88cfa8-f4a6-4b23-abdf-ad1f8f4527d9" config-ref="HTTP_Request_configuration" path="/instance184029/messages/chat" >
							<http:body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    token: p("ultramsg.token"),
    to: "91" ++ vars.mobileNumber,
    body:
"🏦 Real Bank\n\n" ++
"Dear " ++ payload.customerName ++ "\n\n" ++
"🏦 Bank : " ++ payload.bankName ++ "\n" ++
"👤 Customer : " ++ payload.customerName ++ "\n" ++
"📱 Mobile : " ++ payload.mobileNumber ++ "\n" ++
"💳 Account : " ++ payload.accountNumber ++ "\n" ++
"📊 Status : " ++ payload.accountType ++ "\n" ++
"💰 Balance : ₹" ++ (payload.balance as String) ++ "\n" ++
"📧 Email : " ++ payload.email ++ "\n" ++
"🏠 Address : " ++ payload.address ++ "\n" ++
"🆔 Aadhaar : " ++ payload.adharNumber ++ "\n" ++
"📅 Created : " ++ (payload.createdAt as String) ++ "\n\n" ++
"Thank you for banking with Real Bank."
}]]]></http:body>
							<http:query-params ><![CDATA[#[output application/json
---
{
	token : "s4gyjlv0audzesjd"
}]]]></http:query-params>
						</http:request>
						<logger level="INFO" doc:name="UltraMsg Response" doc:id="bc6c3f80-5a77-44a1-a146-f0240c0d66b0" message="#[write(payload,'application/json')]" />
					</otherwise>
				</choice>
			</when>
			<when expression='#[vars.message == "ministatement"]'>
				<logger level="INFO" doc:name="Inside choice route" doc:id="29a6b550-00be-4e06-8a5f-b1c61c760244" message="====================Inside choice route============"/>
				<choice doc:name="ministatement" doc:id="7d67a5ca-332c-4db6-9f17-6e2244e5c624">
					<when expression="#[sizeOf(payload) == 0]">
						<ee:transform doc:name="account does not exist" doc:id="3afc3ca0-14db-4033-b29b-a4758d37c1d8" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"bank_account_detailes": {
		"account_status": {
			"status": "FAILED",
			"statusCode": "404",
			"message": "An account does not exists with the provided customer details. Please try with new details. If you are a new customer, please validate your information."	
		}
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="he customer account deatils does not  existed in Database" doc:id="e3c22e42-b5e9-4a75-bb68-29560dea7686" message="----------------------------The customer account deatils does not  existed in Database--------------------------" />
					</when>
					<otherwise >
						<snowflake:select doc:name="retrive transacctions data by mobilenumber" doc:id="09e73432-c261-4383-91ea-9fc65b43e1e5" config-ref="Snowflake_Config">
					<snowflake:sql><![CDATA[SELECT
    c.FULLNAME,
    c.MOBILENUMBER,
    c.ACCOUNTNUMBER,
    c.EMAIL,
    c.STATUS,
    c.BALANCE,
    c.ADDRESS,
    c.ADHARNUMBER,
    c.BANKNAME,
    c.CREATED_AT,

    t.value['transactionType']::STRING AS TRANSACTIONTYPE,
    t.value['amount']::NUMBER AS AMOUNT,
    t.value['balanceAfterTransaction']::NUMBER AS BALANCEAFTERTRANSACTION,
    t.value['timestamp']::STRING AS TIMESTAMP

FROM BANK_CUSTOMER_DATA c,
LATERAL FLATTEN(input => c.TRANSACTIONS) t
WHERE c.MOBILENUMBER = :MOBILENUMBER;]]></snowflake:sql>
					<snowflake:input-parameters><![CDATA[#[{
	"MOBILENUMBER": vars.mobileNumber
}]]]></snowflake:input-parameters>
				</snowflake:select>
						<logger level="INFO" doc:name="payload" doc:id="d131f71b-a02b-404a-a64d-22f0e1f81e50" message="#[write(payload,'application/json')]" />
						<ee:transform doc:name="mask fields" doc:id="6c19ee60-daee-4989-b4e4-23e50997da8a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var rows = payload default []
var customer = rows[0] default {}

var account = (customer.ACCOUNTNUMBER default "") as String
var adhar = (customer.ADHARNUMBER default "") as String
var mobile = (customer.MOBILENUMBER default "") as String
var email = (customer.EMAIL default "") as String

---
{
    mobileNumber: mobile,
    customerName: customer.FULLNAME default "Customer",

    accountNumber:
        if (sizeOf(account) >= 4)
            "XXXXXX" ++ account[-4 to -1]
        else
            "Not Available",

    accountStatus: customer.STATUS default "N/A",
    currentBalance: customer.BALANCE default 0,

    email:
        if (email contains "@")
            email[0 to 1] ++ "******@" ++ ((email splitBy "@")[1])
        else
            "Not Available",

    bankName: customer.BANKNAME default "Real Bank",

    address:
        if ((customer.ADDRESS default "") != "")
            "************"
        else
            "Not Available",

    adharNumber:
        if (sizeOf(adhar) >= 4)
            "XXXXXXXX" ++ adhar[-4 to -1]
        else
            "Not Available",

    createdAt: customer.CREATED_AT default "",

    transactions:
        rows map (item) -> {
            transactionType: item.TRANSACTIONTYPE,
            amount: item.AMOUNT,
            balanceAfterTransaction: item.BALANCEAFTERTRANSACTION,
            timestamp: item.TIMESTAMP
        }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
						<http:request method="POST" doc:name="Request send to whatsapp assistant" doc:id="b2097454-4be7-40f0-91f2-a8b22ed4bd09" config-ref="HTTP_Request_configuration" path="/instance184029/messages/chat">
					<http:body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded

var txns =
    if (isEmpty(payload.transactions default []))
        "No recent transactions."
    else
        (payload.transactions map (t,index) ->
            (index + 1) as String ++ ". " ++
            (t.transactionType default "") ++
            " | ₹" ++ (t.amount as String) ++
            " | Balance: ₹" ++ (t.balanceAfterTransaction as String) ++
            " | " ++ (t.timestamp as String)
        ) joinBy "\n"

---
{
    token: p("ultramsg.token"),

    to: "91" ++ (payload.mobileNumber as String),

    body:
        "🏦 *REAL BANK*\n\n" ++
        "👤 Customer: " ++ payload.customerName ++ "\n" ++
        "💳 Account: " ++ payload.accountNumber ++ "\n" ++
        "📱 *Mobile:* " ++ (payload.mobileNumber default "N/A") ++ "\n" ++
        "📌 *Status:* " ++ (payload.accountStatus default "N/A") ++ "\n" ++
        "📧 *Email:* " ++ (payload.email default "N/A") ++ "\n" ++
        "🏠 *Address:* " ++ (payload.address default "N/A") ++ "\n" ++
        "📅 *Account Created:* " ++ ((payload.createdAt default "") as String) ++ "\n\n" ++
        "🏦 *Bank:* " ++ (payload.bankName default "Real Bank") ++ "\n" ++
        
        "💰 Balance: ₹" ++ (payload.currentBalance as String) ++ "\n\n" ++
        "📜 Last Transactions\n" ++
        txns
}]]]></http:body>
					<http:query-params><![CDATA[#[output application/json
---
{
	token : "s4gyjlv0audzesjd"
}]]]></http:query-params>
				</http:request>
						<logger level="INFO" doc:name="UltraMsg Response" doc:id="34269335-6152-4c4a-9a29-87f445d3fee0" message="#[write(payload,'application/json')]" />
					</otherwise>
				</choice>
			</when>
			<when expression="#[vars.message == 'balance']">
				<logger level="INFO" doc:name="Inside choice route" doc:id="04b4c7f5-3833-4254-88e4-f42655b00e7f" message="============Inside choice route========="/>
				<choice doc:name="Balance " doc:id="4d705a00-9165-4ad2-adfb-909af7b40717" >
					<when expression="#[sizeOf(payload) == 0]">
						<ee:transform doc:name="account does not exist" doc:id="34859ba5-2b4d-4792-9b9c-36d3c29a3552" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"bank_account_detailes": {
		"account_status": {
			"status": "FAILED",
			"statusCode": "404",
			"message": "An account does not exists with the provided customer details. Please try with new details. If you are a new customer, please validate your information."	
		}
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="he customer account deatils does not  existed in Database" doc:id="b04f5733-7de6-4441-8c42-385a0b642171" message="----------------------------The customer account deatils does not  existed in Database--------------------------" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Before database inside  balance choice router" doc:id="da9fcfb0-6c06-4eb6-ab2d-847dc514dc83" message="===============Before database inside  balance choice router============"/>
						<snowflake:select doc:name="retrive the account data by the user mobile number" doc:id="7aaa68eb-7f95-4f34-acce-dee7867a1472" config-ref="Snowflake_Config">
							<snowflake:sql ><![CDATA[SELECT
    FULLNAME,
    ACCOUNTNUMBER,
    BALANCE,
    BANKNAME,
    MOBILENUMBER
FROM BANK_CUSTOMER_DATA
WHERE MOBILENUMBER = :mobileNumber;]]></snowflake:sql>
							<snowflake:input-parameters ><![CDATA[#[{
	"mobileNumber": vars.mobileNumber
}]]]></snowflake:input-parameters>
						</snowflake:select>
						<logger level="INFO" doc:name="after retrive data the output of data base is array transform into json" doc:id="e8a17205-32da-45b2-a9f1-402806e60fad" message="#[write(payload,'application/json')]"/>
						<http:request method="POST" doc:name="Request send to whatsapp assistant" doc:id="29bf34af-d27f-4204-b87a-ed99dfd53b66" config-ref="HTTP_Request_configuration" path="/instance184029/messages/chat" >
							<http:body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded

// Safely extract mobile number from array or fallback to "N/A"
var mobileNumber = 
    if (payload.mobileNumber is Array)
        (payload.mobileNumber[0] as String) default "N/A"
    else 
        (payload.mobileNumber as String) default "N/A"

// Use default values for potentially null fields
var customerName = payload.FULLNAME[0] default "N/A"
var accountNumber = payload.ACCOUNTNUMBER[0] default "N/A"
var bankName = payload.BANKNAME[0] default "N/A"
var balance = payload.BALANCE[0] default "N/A"
---
{
    token: p("ultramsg.token"),
    to: "91" ++ mobileNumber,
    body: 
        "👤 Customer: " ++ customerName ++ "\n" ++
        "💳 Account: " ++ accountNumber ++ "\n" ++
        "📱 *Mobile:* " ++ mobileNumber ++ "\n" ++
        "💰 Balance: ₹" ++ balance ++ "\n\n" ++
        "🏦 *Bank:* " ++ bankName ++ "\n"
}]]]></http:body>
							<http:query-params ><![CDATA[#[output application/json
---
{
	token : "s4gyjlv0audzesjd"
}]]]></http:query-params>
						</http:request>
						<logger level="INFO" doc:name="Logger" doc:id="b35ca04f-febf-4710-a747-2724a7962aa4"/>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Unknown command" doc:id="5962ab33-618f-4e01-9bd2-dbb6981dfa3a" message="#[vars.message]"/>
				<set-payload value='#[{"status":"UNKNOWN COMMAND"}]' doc:name="status" doc:id="313d332d-9d70-441a-938b-cdd2dec30074" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="after request connector" doc:id="ca1307d7-42b1-4d34-babd-9e782dffd8fe" message="#[write(payload,'application/json')]" />
		<ee:transform doc:name="input payload" doc:id="400f83f9-0081-4f97-93fd-cfb3edec519e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var sentStatus =
    (payload.sent default false)

---
if (
    sentStatus == true or
    sentStatus == "true"
)
{
    status: "SUCCESS",
    message: "WhatsApp message sent successfully",
    messageId: payload.id default "",
    response: payload
}
else
{
    status: "FAILED",
    error: payload.error default payload.message default "Unable to send message",
    response: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Whatsapp Assistant Flow" doc:id="094aba6f-35c4-4fa9-b975-c55156b8d0b5" message="===============End Whatsapp Assistant Flow============="/>
	</flow>
</mule>
