src/main/mule/account_alredy_existed_email_implementation/patch_account_data_upto_date.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="patch_account_data_upto_date_email_implimentation_flow" doc:id="dbd3f540-d567-4bb9-b83d-63922f457a38" >
		<logger level="INFO" doc:name="request reieved to email implementation flow" doc:id="48137890-582a-462b-bcb2-3e844d95bb6b" message="==========request reieved to email implementation flow==========" />
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;&#10;---&#10;&quot;&lt;!DOCTYPE html&gt;&#10;&lt;html&gt;&#10;&lt;head&gt;&#10;&lt;meta charset='UTF-8'&gt;&#10;&lt;title&gt;Real Bank - No Changes Detected&lt;/title&gt;&#10;&#10;&lt;style&gt;&#10;*{&#10;margin:0;&#10;padding:0;&#10;box-sizing:border-box;&#10;font-family:'Segoe UI',Arial,sans-serif;&#10;}&#10;&#10;body{&#10;background:#eef3f8;&#10;padding:30px;&#10;color:#333;&#10;}&#10;&#10;.wrapper{&#10;max-width:760px;&#10;margin:auto;&#10;background:#fff;&#10;border-radius:18px;&#10;overflow:hidden;&#10;box-shadow:0 15px 35px rgba(0,0,0,.15);&#10;}&#10;&#10;.header{&#10;background:linear-gradient(135deg,#F57C00,#FB8C00,#FFB300);&#10;padding:40px;&#10;text-align:center;&#10;color:white;&#10;}&#10;&#10;.logo{&#10;font-size:36px;&#10;font-weight:bold;&#10;}&#10;&#10;.tagline{&#10;margin-top:8px;&#10;font-size:15px;&#10;opacity:.9;&#10;}&#10;&#10;.hero{&#10;padding:35px;&#10;background:#FFF8E8;&#10;text-align:center;&#10;}&#10;&#10;.hero h2{&#10;color:#E65100;&#10;margin-bottom:15px;&#10;font-size:30px;&#10;}&#10;&#10;.hero p{&#10;font-size:15px;&#10;line-height:28px;&#10;color:#555;&#10;}&#10;&#10;.info{&#10;margin:25px;&#10;padding:20px;&#10;background:#FFF3CD;&#10;border-left:6px solid #FF9800;&#10;border-radius:10px;&#10;font-size:16px;&#10;font-weight:bold;&#10;color:#A65A00;&#10;}&#10;&#10;.card{&#10;margin:30px;&#10;border:1px solid #E5E5E5;&#10;border-radius:15px;&#10;overflow:hidden;&#10;}&#10;&#10;.card-title{&#10;background:#FF9800;&#10;color:white;&#10;padding:18px;&#10;font-size:20px;&#10;font-weight:bold;&#10;}&#10;&#10;table{&#10;width:100%;&#10;border-collapse:collapse;&#10;}&#10;&#10;td{&#10;padding:18px;&#10;border-bottom:1px solid #EEEEEE;&#10;}&#10;&#10;td:first-child{&#10;width:38%;&#10;background:#FAFAFA;&#10;font-weight:bold;&#10;color:#555;&#10;}&#10;&#10;.acc{&#10;font-size:22px;&#10;font-weight:bold;&#10;color:#0056B3;&#10;}&#10;&#10;.status{&#10;background:#FFF3CD;&#10;color:#B26A00;&#10;padding:6px 18px;&#10;border-radius:20px;&#10;font-weight:bold;&#10;}&#10;&#10;.note{&#10;margin:0 30px 30px;&#10;padding:22px;&#10;background:#FFF8E8;&#10;border-left:6px solid orange;&#10;border-radius:10px;&#10;}&#10;&#10;.note h3{&#10;margin-bottom:12px;&#10;color:#C97B00;&#10;}&#10;&#10;.note li{&#10;margin:10px 0;&#10;}&#10;&#10;.footer{&#10;background:#002B5B;&#10;padding:35px;&#10;text-align:center;&#10;color:white;&#10;}&#10;&#10;.footer p{&#10;line-height:24px;&#10;font-size:13px;&#10;}&#10;&#10;.support{&#10;margin-top:20px;&#10;padding-top:20px;&#10;border-top:1px solid rgba(255,255,255,.2);&#10;}&#10;&lt;/style&gt;&#10;&#10;&lt;/head&gt;&#10;&#10;&lt;body&gt;&#10;&#10;&lt;div class='wrapper'&gt;&#10;&#10;&lt;div class='header'&gt;&#10;&#10;&lt;div class='logo'&gt;&#10;🏦 REAL BANK&#10;&lt;/div&gt;&#10;&#10;&lt;div class='tagline'&gt;&#10;Safe • Secure • Trusted Banking&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='hero'&gt;&#10;&#10;&lt;h2&gt;&#10;ℹ No Changes Detected&#10;&lt;/h2&gt;&#10;&#10;&lt;p&gt;&#10;&#10;The information submitted is identical to the data already available in your account.&#10;&#10;No update was required.&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='info'&gt;&#10;&#10;⚠ Requested data is already updated with the same details.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='card'&gt;&#10;&#10;&lt;div class='card-title'&gt;&#10;📋 Existing Account Details&#10;&lt;/div&gt;&#10;&#10;&lt;table&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;💳 Account Number&lt;/td&gt;&#10;&lt;td class='acc'&gt;&quot; ++ (vars.accountNumber default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;👤 Customer Name&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ ((payload.FULLNAME[0]) default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📱 Mobile Number&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ ((payload.MOBILENUMBER[0]) default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📍 Address&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ ((payload.ADDRESS[0]) default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;✅ Account Status&lt;/td&gt;&#10;&lt;td&gt;&lt;span class='status'&gt;&quot; ++ ((payload.STATUS[0]) default &quot;&quot;) ++ &quot;&lt;/span&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;📅 Account Created On&lt;/td&gt;&#10;&lt;td&gt;&quot; ++ (((payload.CREATED_AT[0]) as String) default &quot;&quot;) ++ &quot;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Status Code&lt;/td&gt;&#10;&lt;td&gt;200&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;tr&gt;&#10;&lt;td&gt;Update Status&lt;/td&gt;&#10;&lt;td&gt;&lt;span class='status'&gt;NO CHANGES&lt;/span&gt;&lt;/td&gt;&#10;&lt;/tr&gt;&#10;&#10;&lt;/table&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='note'&gt;&#10;&#10;&lt;h3&gt;💡 Information&lt;/h3&gt;&#10;&#10;&lt;ul&gt;&#10;&#10;&lt;li&gt;Your request was successfully processed.&lt;/li&gt;&#10;&#10;&lt;li&gt;No changes were applied because the submitted values already match our records.&lt;/li&gt;&#10;&#10;&lt;li&gt;If you wish to update your profile, please provide different information.&lt;/li&gt;&#10;&#10;&lt;li&gt;If you believe this is incorrect, contact Real Bank Customer Support.&lt;/li&gt;&#10;&#10;&lt;/ul&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;div class='footer'&gt;&#10;&#10;&lt;h3&gt;&#10;&#10;Thank You For Banking With Us ❤️&#10;&#10;&lt;/h3&gt;&#10;&#10;&lt;p&gt;&#10;&#10;Customer Care : +91 9494207062&#10;&#10;&lt;br&gt;&#10;&#10;Email : narsingbeesetti22@gmail.com&#10;&#10;&lt;br&gt;&lt;br&gt;&#10;&#10;© 2026 Real Bank&#10;&#10;&lt;br&gt;&#10;&#10;Safe Banking | Digital Banking | Secure Transactions&#10;&#10;&lt;/p&gt;&#10;&#10;&lt;div class='support'&gt;&#10;&#10;This is an automated email. Please do not reply.&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&#10;&lt;/html&gt;&quot;]" doc:name="emailBody" doc:id="8071cda7-72be-4fb7-a296-976e05fc465f" variableName="emailBody" />
		<parse-template doc:name="creating html templete with user data for user email conformation " doc:id="86a7ac4d-75e6-4318-9065-05ae9a2d4505" >
			<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
		<email:send doc:name="email send to the respective users with the respective bank data" doc:id="3bdc63dc-f45e-4400-9a76-2e2199ddbe91" config-ref="Email_SMTP" fromAddress="narsingbeesetti06@gmail.com" subject='#["Account detailes updated successfully - " ++ vars.BANKNAME]' >
			<email:to-addresses >
				<email:to-address value="#[vars.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8" />
		</email:send>
		<logger level="INFO" doc:name="after email send to the repective user with thier account detailes" doc:id="36d4e7dc-8934-4cb8-9b8f-e97c42fdcc4c" message="=========after email send to the repective user with thier account detailes===========" />
	</flow>
</mule>
